<section class="header-margin--top height-100vh webshop">
  <div class="webshop-container">
    <div class="webshop__navigation">
      <div>
        <div class="webshop__navigation-search">
          <autom-button
            [iconSource]="'car'"
            [iconPrefix]="true"
            [iconColor]="colorEnum.INFO_25"
            [type]="buttonType.PRIMARY"
            [theme]="buttonTheme.LIGHT_ORANGE"
            [label]="'Izaberi vozilo'"
          >
          </autom-button>
          <autom-input-fields
            class="search-input"
            [size]="sizeEnum.FULL"
            [preIcon]="'search'"
            [round]="true"
            [placeholder]="'Unesite kataloski ili OE broj'"
            (emitSelected)="searchTerm = $event"
          ></autom-input-fields>
          <autom-button [label]="'Pretrazi'" (clickEvent)="getRoba()">
          </autom-button>
        </div>
      </div>
      <div class="util__flex--center">
        <nav class="navbar autom-margin--bottom__xs">
          <ul class="navbar-list">
            <li class="navbar-item">
              <a class="webshop-navbar-link">Sve</a>
            </li>
            <li class="navbar-item">
              <a class="webshop-navbar-link">Maziva</a>
            </li>
            <li class="navbar-item">
              <a class="webshop-navbar-link">Alati</a>
            </li>
            <li class="navbar-item">
              <a class="webshop-navbar-link">Aditivi</a>
            </li>
            <li class="navbar-item">
              <a class="webshop-navbar-link">Odrzavanje vozila</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="util__flex--center webshop__empty-container">
    <div class="webshop__empty-data">
      <autom-icon [source]="iconEnum.SEARCH"></autom-icon>
      <p>Pretrazite po kataloskom broju, vozilu ili izaberite kategoriju</p>
    </div>
  </div>
</section>
