<section class="header-margin--top">
  <webshop-nav
    [filter]="filter"
    [searchTerm]="searchTerm"
    (selectedVehicleDetails)="selectVehicleDetailsEventHandle($event)"
  ></webshop-nav>
  <webshop-vehicles
    *ngIf="
      (currentState === state.SHOW_VEHICLE_DETAILS ||
        currentState === state.SHOW_ARTICLES_WITH_VEHICLE_DETAILS) &&
      !loading
    "
    [showAssemblyGroups]="currentState === state.SHOW_VEHICLE_DETAILS"
    [vehicleDetails]="selectedVehicleDetails!"
  >
  </webshop-vehicles>
  <webshop-empty
    *ngIf="currentState === state.SHOW_EMPTY_CONTAINER && !loading"
  ></webshop-empty>
  <webshop-roba
    *ngIf="
      (currentState === state.SHOW_ARTICLES ||
        currentState === state.SHOW_ARTICLES_WITH_VEHICLE_DETAILS) &&
      !loading
    "
    [assemblyGroupName]="assemblyGroupName"
    [filter]="filter"
    [loading]="internalLoading"
    [magacin]="magacinData"
    [pageIndex]="pageIndex"
    [pageSize]="rowsPerPage"
    [searchTerm]="searchTerm"
    [vehicleDetails]="selectedVehicleDetails"
    (emitTablePage)="setRobaPageData($event)"
  ></webshop-roba>
  <div *ngIf="loading" class="spinner">
    <spinner></spinner>
  </div>
</section>
