<section class="header-margin--top height-100vh webshop">
  <div class="webshop-container">
    <!-- Levi deo -->
    <aside class="left-menu">
      <h2>Kategorije</h2>
      <ul>
        <li *ngFor="let category of categories">
          <div class="menu-item" (click)="toggleSubMenu(category)">
            <span class="icon">{{ category.icon }}</span>
            {{ category.name }}
            <span *ngIf="category.subcategories.length" class="arrow"
              ><autom-icon [source]="iconEnum.PLUS"></autom-icon
            ></span>
          </div>

          <!-- Podkategorije -->
          <ul class="submenu" [class.open]="category.open">
            <li *ngFor="let sub of category.subcategories">
              <div class="menu-item" (click)="toggleSubMenu(sub)">
                {{ sub.name }}
                <span
                  class="arrow"
                  [class.open]="sub.open"
                  *ngIf="sub.subcategories?.length"
                  ><autom-icon [source]="iconEnum.PLUS"></autom-icon
                ></span>
              </div>

              <!-- Pod-pod-kategorije -->
              <ul class="submenu" [class.open]="sub.open">
                <li class="subsubmenu" *ngFor="let subSub of sub.subcategories">
                  {{ subSub.name }}
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </aside>
    <!-- Desni deo -->
    <div class="right-content">
      <div>
        <div class="webshop__navigation">
          <autom-button
            [iconSource]="'car'"
            [iconPrefix]="true"
            [iconColor]="colorEnum.INFO_25"
            [type]="buttonType.PRIMARY"
            [theme]="buttonTheme.LIGHT_ORANGE"
            [label]="'Izaberi vozilo'"
          >
          </autom-button>
          <autom-input-fields
            class="search-input"
            [size]="sizeEnum.FULL"
            [preIcon]="'search'"
            [round]="true"
            [placeholder]="'Unesite kataloski ili OE broj'"
          ></autom-input-fields>
          <autom-button [label]="'Pretrazi'"> </autom-button>
        </div>
      </div>
      <div class="right-content--empty">
        <autom-icon [source]="iconEnum.SEARCH"></autom-icon>
        <h3>
          Ukucajte termin za pretragu ili pronadjite odgovarajuci artikal preko
          vaseg vozila
        </h3>
      </div>
    </div>
  </div>
</section>
