.webshop {
  &__navigation {
    background-color: var(--figma-grey-200);
    &-search {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      gap: 10px;
      .search-input {
        width: 400px;
      }
    }
  }

  &-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  &-navbar-link {
    font-size: var(--text-m);
    color: var(--rich-black-fogra-29);
    padding-block: 10px;
    transition: var(--transition-1);
  }
  &-navbar-link:is(:hover, :focus) {
    color: var(--bittersweet);
  }
  &__empty {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
    }
    &-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      p {
        color: var(--figma-error-300) !important;
        font-size: var(--text-xl);
        font-weight: var(--fw-600);
      }
    }
  }
}
