<div class="row-container">
  <!-- Image Section -->
  <div class="image-container" [class.image-smaller]="showPriceOnly">
    <img [src]="data!.slika!.slikeUrl" alt="Product Image" />
  </div>

  <!-- Details Section -->
  <div class="details-container">
    <h3
      [class.disabled]="data.podGrupa === 1000000"
      [routerLink]="['/webshop', data.robaid]"
    >
      {{
        data.naziv?.includes(data.proizvodjac!.naziv!)
          ? data.naziv
          : data.proizvodjac?.naziv + " " + data.naziv
      }}
    </h3>
    <p class="autom-margin__none">
      Kataloski broj:
      <span class="color--figma-primary-800 display--inline font-medium">{{
        data!.katbr
      }}</span>
    </p>
    <p class="autom-margin__none">
      Kategorija:
      <span class="color--figma-primary-800 display--inline font-medium">{{
        data!.podGrupaNaziv
      }}</span>
    </p>
    <p>
      Stanje:
      <span class="color--figma-primary-800 display--inline font-medium">{{
        data!.stanje
      }}</span>
    </p>
    <table *ngIf="!showPriceOnly" class="specifications">
      <tbody>
        <!-- Mandatory tdLinkageCriteria (show all) -->
        <tr *ngFor="let spec of displayedLinkageCriteria">
          <td [class.color--figma-highlight-orange]="spec.type === 'A'">
            {{ spec.oznaka }}
            <span *ngIf="spec.jedinica" class="display--inline">[</span>
            {{ spec.jedinica }}
            <span *ngIf="spec.jedinica" class="display--inline">]</span>
          </td>
          <td
            class="autom-align__right"
            [class.color--figma-highlight-orange]="spec.type === 'A'"
          >
            {{ spec.vrednost }}
          </td>
        </tr>

        <!-- Tehnicki Opis (trimmed initially, expands on click) -->
        <tr *ngFor="let spec of displayedTehnickiOpis">
          <td [class.color--figma-highlight-orange]="spec.type === 'A'">
            {{ spec.oznaka }}
            <span *ngIf="spec.jedinica" class="display--inline">[</span>
            {{ spec.jedinica }}
            <span *ngIf="spec.jedinica" class="display--inline">]</span>
          </td>
          <td
            class="autom-align__right"
            [class.color--figma-highlight-orange]="spec.type === 'A'"
          >
            {{ spec.vrednost }}
          </td>
        </tr>

        <!-- No specifications available -->
        <tr
          *ngIf="!data.tehnickiOpis?.length && !data.tdLinkageCriteria?.length"
        >
          <td colspan="2">No specifications available</td>
        </tr>
      </tbody>
    </table>

    <!-- Expand/Collapse Button -->
    <div class="spec-toggle-btn" *ngIf="hasMoreThanFiveSpecs">
      <autom-button
        [type]="buttonType.TERNARY"
        [label]="showAllSpecs ? 'Prikaži manje' : 'Prikaži više'"
        (click)="toggleSpecifications()"
      >
      </autom-button>
    </div>
  </div>

  <!-- Add to basket Section -->
  <div class="pricing-container" *ngIf="showAddToBasket">
    <div
      [ngClass]="{
        'item-status': true,
        green: data.podGrupa !== 1000000 && data.stanje! > 0,
        red: data.podGrupa !== 1000000 && data.stanje! === 0,
        yellow: data.podGrupa === 1000000
      }"
    >
      {{ data.stanje! > 0 ? "Ima na stanju" : "Nema na stanju" }}
    </div>
    <p
      *ngIf="data.podGrupa !== 1000000 && data.rabat"
      class="sub-price line-through"
    >
      {{ data.cena! / (1 - data.rabat / 100) | rsdCurrency }}
    </p>
    <p
      *ngIf="data.podGrupa !== 1000000 && data.rabat"
      class="sub-price color--bittersweet"
    >
      -{{ data.rabat }}%
    </p>
    <p
      *ngIf="data.podGrupa !== 1000000 && data.podGrupa !== 1000000"
      class="price"
    >
      {{ data.cena ? (data.cena! | rsdCurrency) : (0 | rsdCurrency) }}
    </p>
    <p *ngIf="data.podGrupa !== 1000000" class="autom-align__right">
      Cena sa pdv-om
    </p>
    <div class="util__flex--center">
      <div *ngIf="data.podGrupa === 1000000" class="helper-article">
        <span>Ovaj artikal se nalazi u TecDoc katalogu.</span>
        <br />
        <span>Za dostupnost, molimo vas da nas kontaktirate.</span>
      </div>
      <autom-input-fields
        *ngIf="data.podGrupa !== 1000000"
        [clearBtn]="false"
        [disableInput]="!data.stanje"
        [customClass]="'quantity-size'"
        [max]="data!.stanje"
        [min]="1"
        [roundOff]="true"
        [size]="sizeEnum.MEDIUM"
        [type]="inputTypeEnum.QUANTITY"
        [validators]="[
          { name: 'max', value: data.stanje },
          { name: 'min', value: 1 }
        ]"
        [step]="1"
        [value]="1"
        (emitSelected)="modifyQuantity($event)"
        ngDefaultControl
      ></autom-input-fields>
      <autom-button
        *ngIf="data.podGrupa !== 1000000"
        mat-raised-button
        color="primary"
        [disabled]="!data.stanje"
        [iconColor]="colorEnum.INFO_25"
        [iconPrefix]="true"
        [iconSource]="iconEnum.SHOPPING_CART"
        [label]="'Dodaj u korpu'"
        (clickEvent)="addToShoppingCart(data)"
      />
    </div>
    <div *ngIf="isInCart(data.robaid ?? 0)" class="util__flex--center">
      <autom-icon
        class="in-cart"
        [color]="colorEnum.GREEN_700"
        [source]="iconEnum.SHOPPING_BAG"
        [tooltip]="{ tooltipText: 'Artikal je u korpi' }"
      ></autom-icon>
    </div>
  </div>

  <!-- Pricing Section -->
  <div class="pricing-container" *ngIf="showPriceOnly">
    <p *ngIf="data.rabat" class="sub-price line-through">
      {{ data.cena! / (1 - data.rabat / 100) | rsdCurrency }}
    </p>
    <p *ngIf="data.rabat" class="sub-price color--bittersweet">
      -{{ data.rabat }}%
    </p>
    <p class="sub-price">
      {{ data.cena ? (data.cena! | rsdCurrency) : (0 | rsdCurrency) }}
    </p>
    <p class="autom-align__right small-explanation">Cena po komadu</p>
    <div class="util__flex--center">
      <autom-input-fields
        [clearBtn]="false"
        [disableInput]="!data.stanje"
        [customClass]="'quantity-size'"
        [max]="data!.stanje"
        [min]="1"
        [roundOff]="true"
        [size]="sizeEnum.MEDIUM"
        [type]="inputTypeEnum.QUANTITY"
        [validators]="[
          { name: 'max', value: data.stanje },
          { name: 'min', value: 1 }
        ]"
        [step]="1"
        [value]="data.kolicina"
        (emitSelected)="modifyQuantity($event)"
        ngDefaultControl
      ></autom-input-fields>

      <div>
        <p class="price">
          {{ data.cena! * data.kolicina! | rsdCurrency }}
        </p>
        <p class="autom-align__right autom-margin__none">Ukupno sa pdv-om</p>
      </div>
    </div>
  </div>

  <!-- CloseBtn Section -->
  <div *ngIf="showCloseBtn">
    <autom-icon
      [tooltip]="{ tooltipText: 'Izbrisi iz korpe' }"
      [source]="iconEnum.X"
      (click)="removeEvent.emit(data.robaid)"
    ></autom-icon>
  </div>
</div>
