<!-- 
    - #FOOTER
  -->

<footer class="footer">
  <div class="footer-top section">
    <div class="container">
      <div class="footer-brand">
        <a href="#" class="logo">
          <img
            src="/images/logo/logo.png"
            width="128"
            height="63"
            alt="autofix home"
          />
        </a>

        <p class="footer-text">
          Maloprodaja i veleprodaja autodelova, filtera za teretni i
          gradjevinski program i maziva
        </p>

        <ul class="social-list">
          <li>
            <a href="#" class="social-link">
              <img src="/images/navigation/facebook.svg" alt="facebook" />
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <img src="/images/navigation/instagram.svg" alt="instagram" />
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <img src="/images/navigation/twitter.svg" alt="twitter" />
            </a>
          </li>
        </ul>
      </div>

      <ul class="footer-list">
        <li>
          <p class="h3">Radno Vreme</p>
        </li>

        <li>
          <p class="p">Ponedeljak – Petak</p>

          <span class="span">08.00 – 17.00</span>
        </li>

        <li>
          <p class="p">Subota</p>

          <span class="span">08.00 – 14.00</span>
        </li>

        <li>
          <p class="p">Nedelja</p>

          <span class="span">Neradna</span>
        </li>
      </ul>

      <ul class="footer-list">
        <li>
          <p class="h3">Contact Info</p>
        </li>

        <li>
          <a href="tel:+01234567890" class="footer-link">
            <autom-icon
              [color]="colorEnum.ERROR_700"
              [source]="iconEnum.PHONE_CALL"
            ></autom-icon>

            <span class="span"> 015/319-000</span>
          </a>
        </li>

        <li>
          <a href="mailto:info@autofix.com" class="footer-link">
            <autom-icon
              [color]="colorEnum.ERROR_700"
              [source]="iconEnum.MAIL"
            ></autom-icon>

            <span class="span">office&#64;automaterijal.com</span>
          </a>
        </li>

        <li>
          <address class="footer-link address">
            <autom-icon
              [color]="colorEnum.ERROR_700"
              [source]="iconEnum.NAVIGATION"
            ></autom-icon>

            <span class="span">Kralja Milutina 159, 15000 Šabac</span>
          </address>
        </li>
      </ul>
    </div>

    <img
      src="/images/navigation/footer-shape-3.png"
      width="637"
      height="173"
      loading="lazy"
      alt="Shape"
      class="shape shape-3 move-anim"
    />
  </div>

  <div class="footer-bottom">
    <div class="container">
      <img
        src="/images/navigation/footer-shape-2.png"
        width="778"
        height="335"
        loading="lazy"
        alt="Shape"
        class="shape shape-2"
      />

      <img
        src="/images/navigation/footer-shape-1.png"
        width="805"
        height="652"
        loading="lazy"
        alt="Red Car"
        class="shape shape-1 move-anim"
      />
    </div>
  </div>
</footer>
