<!-- 
    - #FOOTER
  -->

<footer class="footer" aria-label="Podnožje sajta – informacije i kontakt">
  <div class="footer-top section">
    <div class="container">
      <div class="footer-brand">
        <a href="#">
          <img
            src="/images/logo/logo.png"
            width="128"
            height="63"
            alt="autofix home"
          />
        </a>

        <p class="footer-text">
          Maloprodaja i veleprodaja autodelova, filtera za teretni i
          gradjevinski program i maziva
        </p>

        <ul class="social-list">
          <li>
            <a
              href="https://www.facebook.com/automaterijal"
              class="social-link"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Posetite nas na Facebook-u"
              title="Posetite nas na Facebook-u"
            >
              <img
                src="/images/navigation/facebook.svg"
                alt="Automaterijal na Facebook-u"
              />
            </a>
          </li>

          <li>
            <a
              href="https://www.instagram.com/automaterijal"
              class="social-link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="/images/navigation/instagram.svg"
                alt="Automaterijal na Instagram-u"
              />
            </a>
          </li>
        </ul>
      </div>

      <ul class="footer-list">
        <li>
          <p class="h3">Radno Vreme</p>
        </li>

        <li>
          <p class="p">Ponedeljak – Petak</p>

          <span class="span">08.00 – 17.00</span>
        </li>

        <li>
          <p class="p">Subota</p>

          <span class="span">08.00 – 14.00</span>
        </li>

        <li>
          <p class="p">Nedelja</p>

          <span class="span">Neradna</span>
        </li>
      </ul>

      <ul class="footer-list">
        <li>
          <p class="h3">Contact Info</p>
        </li>

        <li>
          <a href="tel:+38115319000" class="footer-link">
            <autom-icon
              [color]="colorEnum.ERROR_700"
              [source]="iconEnum.PHONE_CALL"
            ></autom-icon>

            <span class="span"> 015/319-000</span>
          </a>
        </li>

        <li>
          <a href="mailto:office@automaterijal.com" class="footer-link">
            <autom-icon
              [color]="colorEnum.ERROR_700"
              [source]="iconEnum.MAIL"
            ></autom-icon>

            <span class="span">office&#64;automaterijal.com</span>
          </a>
        </li>

        <li>
          <address
            class="footer-link address"
            aria-label="Naša adresa"
            role="contentinfo"
          >
            <autom-icon
              [color]="colorEnum.ERROR_700"
              [source]="iconEnum.NAVIGATION"
            ></autom-icon>

            <span class="span" routerLink="/kontakt"
              >Kralja Milutina 159, 15000 Šabac</span
            >
          </address>
        </li>
      </ul>
    </div>

    <img
      src="/images/navigation/footer-shape-3.png"
      class="shape shape-3 move-anim"
      width="637"
      height="173"
      loading="eager"
      alt=""
      role="presentation"
    />
  </div>

  <div class="footer-bottom">
    <div class="container">
      <img
        src="/images/navigation/footer-shape-2.png"
        width="778"
        height="335"
        loading="lazy"
        alt="Shape"
        class="shape shape-2"
      />

      <img
        src="/images/navigation/footer-shape-1.png"
        width="805"
        height="652"
        loading="lazy"
        alt="Crveno vozilo"
        class="shape shape-1 move-anim"
      />
    </div>
  </div>
</footer>
