<autom-popup
  class="vehicle-selection"
  [height]="sizeEnum.AUTO"
  [position]="positionEnum.CENTER"
  [rounded]="true"
  [subPosition]="positionEnum.CENTER"
  [width]="sizeEnum.LARGE"
>
  <div custom-header class="page-details__header">
    <div class="page-details__title--row">
      <h3 class="h3">
        {{ title }}
      </h3>
    </div>

    <autom-icon
      mat-dialog-close
      [color]="colorEnum.GREY_400"
      [source]="iconsEnum.X"
      (click)="closePopupModal.emit()"
    ></autom-icon>
  </div>
  <div
    custom-body
    class="page-details__body page-details__height--auto body util__flex--center autom-flex-direction--column"
  >
    <autom-select
      *ngIf="vehicleSelectModel.length"
      class="element-width"
      [label]="'Prethodno izabrano'"
      [selectionList]="vehicleSelectModel"
      (emitSelected)="selectVehicleFromHistory($event)"
    >
    </autom-select>
    <autom-input-fields
      class="element-width"
      [autocompleteOptions]="typeaheadManufactures"
      [autocompleteSelected]="taSelectedManufacture"
      [disableInput]="loadingManufactures || !!searchHistorySelected?.key"
      [label]="'Izaberite proizvodjaca'"
      [type]="inputTypeEnum.AUTOCOMPLETE"
      (emitSelected)="selectedManufacturer($event)"
    ></autom-input-fields>
    <autom-input-fields
      class="element-width"
      [autocompleteOptions]="typeaheadModels"
      [autocompleteSelected]="taSelectedModel"
      [disableInput]="loadingModels || !!searchHistorySelected?.key"
      [label]="'Izaberite model'"
      [type]="inputTypeEnum.AUTOCOMPLETE"
      (emitSelected)="selectedModels($event)"
    ></autom-input-fields>
    <autom-input-fields
      class="element-width"
      [autocompleteOptions]="typeaheadType"
      [autocompleteSelected]="taSelectedType"
      [disableInput]="loadingType || !!searchHistorySelected?.key"
      [label]="'Izaberite tip'"
      [type]="inputTypeEnum.AUTOCOMPLETE"
      (emitSelected)="selectedType($event)"
    ></autom-input-fields>
    <autom-button
      class="element-width confirm-btn"
      [disabled]="
        !searchHistorySelected?.key &&
        (!selectedManufacture || !selectedModel || !selectedVehicleId)
      "
      [label]="'Izaberi vozilo'"
      [iconPrefix]="true"
      [iconSource]="iconsEnum.SEARCH"
      [iconColor]="colorEnum.GREY_100"
      [type]="buttonType.PRIMARY"
      [theme]="buttonTheme.LIGHT_ORANGE"
      (clickEvent)="selectedVehicle()"
    ></autom-button>
  </div>
</autom-popup>
