.vehicle-selection {
  .body {
    padding: 40px;
  }

  .popup-container__body {
    justify-content: center;
  }

  .element-width {
    width: 450px;
  }

  .button__content-wrapper {
    width: 420px;
  }

  .button--primary {
    height: 45px;
  }

  .confirm-btn {
    margin-top: 26px;
  }
}