:root {
	// 320px
	--breakpoint-xs: 20rem;
	// 768px
	--breakpoint-sm: 48rem;
	// 1024px
	--breakpoint-md: 64rem;
	// 1280px
	--breakpoint-lg: 80rem;
	// 1440px
	--breakpoint-xl: 90rem;
	// 1920px
	--breakpoint-xxl: 120rem;
}
