:root {
	// 1px
	--space-default: 0.0625rem;
	// 2px
	--space-xxxs: 0.125rem;
	// 4px
	--space-xxs: 0.25rem;
	// 8px
	--space-xs: 0.5rem;
	// 16px
	--space-s: 1rem;
	// 32px
	--space-m: 2rem;
	// 48px
	--space-l: 3rem;
	// 64px
	--space-xl: 4rem;
}
