<!-- Desktop (checkbox list) -->
<ng-container *ngIf="!isMobileView(); else mobileSelect">
  <checkbox-group
    class="filter-selection grouped-checkbox"
    [items]="tasks"
    [label]="'Kategorije'"
    (clickEvent)="emitSelectedSubgroups($event)"
  >
  </checkbox-group>
</ng-container>

<!-- Mobile (select) -->
<ng-template #mobileSelect>
  <autom-select
    *ngIf="selectReady"
    class="filter-selection"
    [label]="'Kategorije'"
    [placeholder]="'Izaberi kategoriju'"
    [selectedValue]="selectedOption"
    [selectionList]="selectOptions"
    (emitSelected)="onSelectChange($event)"
  >
  </autom-select>
</ng-template>
