<div class="webshop webshop-container">
  <div class="webshop__navigation">
    <div>
      <div class="webshop__navigation-search util__flex--center">
        <autom-button
          [iconSource]="'car'"
          [iconPrefix]="true"
          [iconColor]="colorEnum.INFO_25_FILL"
          [type]="buttonType.PRIMARY"
          [theme]="buttonTheme.LIGHT_ORANGE"
          [label]="'Izaberi vozilo'"
          (clickEvent)="chooseVehicleVisible = true"
        >
        </autom-button>
        <autom-input-fields
          class="search-input"
          [placeholder]="'Unesite kataloski ili OE broj'"
          [round]="true"
          [size]="sizeEnum.FULL"
          [suffixIcon]="'search'"
          [value]="searchTerm"
          [warning]="
            selectedVehicle?.linkageTargetId
              ? 'Pretraga ce resetovati izabrano vozilo'
              : ''
          "
          (customActionEvent)="emitValue($event)"
          (emitSelected)="searchTerm = $event"
        ></autom-input-fields>
        <autom-button
          [iconSource]="iconEnum.STOCK"
          [iconPrefix]="true"
          [iconColor]="colorEnum.INFO_25"
          [type]="buttonType.PRIMARY"
          [theme]="buttonTheme.LIGHT_ORANGE"
          [label]="'Kategorije'"
          (clickEvent)="chooseCategoryVisible = true"
        >
        </autom-button>
      </div>
    </div>
    <div *ngIf="secondNavigation" class="util__flex--center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li [class.active]="!thirdNavigation">
            <a (click)="goToMainPage()">Početna</a>
          </li>
          <li [class.active]="!thirdNavigation" *ngIf="secondNavigation">
            <a
              *ngIf="thirdNavigation; else activeSecond"
              (click)="goToSecondPage()"
              >{{ secondNavigation }}</a
            >
            <ng-template #activeSecond>{{ secondNavigation }}</ng-template>
          </li>
          <li class="active" *ngIf="thirdNavigation">
            {{ thirdNavigation }}
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<vehicle-selection-popup
  *ngIf="chooseVehicleVisible"
  (closePopupModal)="chooseVehicleVisible = false"
  (emitVehicle)="handleSelectedVehicle($event)"
>
</vehicle-selection-popup>
<categories-popup
  *ngIf="chooseCategoryVisible"
  [open]="chooseCategoryVisible"
  (categorySelected)="categorySelected($event)"
  (close)="chooseCategoryVisible = false"
>
</categories-popup>
