.webshop {
  &__navigation {
    background: linear-gradient(135deg, #132530, #1b455e);
    &-search {
      height: 100px;
      gap: 10px;

      .search-input {
        width: 450px;
      }
    }
  }

  .autom-warning {
    position: absolute;
    top: 35px;
    left: 80px;
    color: var(--figma-grey-25);
  }

  &-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .breadcrumb {
    align-items: center;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    font-size: 14px;
    justify-content: left;
    list-style: none;
    margin: 5px auto;
    width: 610px;
  }
  
  .breadcrumb li {
    display: flex;
    align-items: center;
  }
  
  .breadcrumb li:not(:last-child)::after {
    content: " > ";
    margin: 0 8px;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .breadcrumb li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    transition: color 0.3s ease, opacity 0.3s ease;
  }
  
  .breadcrumb li a:hover {
    color: #ffcc00;
    opacity: 1;
  }
  
  .breadcrumb li.active {
    color: #ffcc00;
    font-weight: bold;
    cursor: auto;
  }
}

@media (max-width: 991px) {
  .webshop__navigation-search {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
    padding: 10px 10px;
    margin-bottom: 10px;
  }

  autom-button {
    width: 100%;
    margin-top: 5px;
    text-align: center;
  }

  .search-input {
    width: 100% !important;
  }

  .breadcrumb {
    width: 100%;
    padding: 0 10px;
    flex-wrap: wrap;
    font-size: 13px;
  }

  .breadcrumb li:not(:last-child)::after {
    content: ">";
    margin: 0 5px;
  }
}

@media (max-width: 600px) {
  .breadcrumb {
    flex-direction: row;
    align-items: flex-start !important;
    width: 100% !important;
    gap: 5px;
  }

  .breadcrumb li {
    margin-bottom: 2px;
  }
}