<div class="webshop webshop-container">
  <header
    class="webshop__navigation"
    [class.is-scrolled]="scrolled"
    [class.is-glass]="true"
  >
    <div class="nav-wrap">
      <!-- Toolbar -->
      <div class="nav-toolbar" role="search">
        <autom-button
          class="nav-btn-webshop"
          [iconSource]="'car'"
          [iconPrefix]="true"
          [iconColor]="colorEnum.INFO_25_FILL"
          [type]="buttonType.PRIMARY"
          [theme]="buttonTheme.LIGHT_ORANGE"
          [label]="'Izbor vozila'"
          [routerLink]="['/webshop/vozila']"
          [attr.href]="'/webshop/vozila'"
        >
        </autom-button>

        <div class="nav-search">
          <autom-input-fields
            class="nav-input"
            [placeholder]="'Unesite kataloski ili OE broj'"
            [round]="true"
            [size]="sizeEnum.FULL"
            [suffixIcon]="'search'"
            [value]="searchTerm"
            (customActionEvent)="emitValue($event)"
            (emitSelected)="searchTerm = $event"
          >
          </autom-input-fields>
          <!-- warning sits under the input, never overlaps -->
          <small class="nav-warning" *ngIf="selectedVehicle?.linkageTargetId">
            Pretraga će resetovati izabrano vozilo
          </small>
        </div>

        <autom-button
          class="nav-btn-webshop"
          [iconSource]="iconEnum.LIST"
          [iconPrefix]="true"
          [iconColor]="colorEnum.INFO_25_FILL"
          [type]="buttonType.PRIMARY"
          [theme]="buttonTheme.BLUE"
          [label]="'Kategorije'"
          (clickEvent)="openCategories()"
        >
        </autom-button>
      </div>

      <!-- Breadcrumbs -->
      <nav
        class="nav-breadcrumbs"
        aria-label="Breadcrumb"
        itemscope
        itemtype="https://schema.org/BreadcrumbList"
        *ngIf="secondNavigation"
      >
        <ol class="crumbs">
          <li
            class="crumb"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
            [class.is-active]="!secondNavigation && !thirdNavigation"
          >
            <a itemprop="item" [routerLink]="['/webshop']" href="/webshop">
              <span itemprop="name">Početna</span>
            </a>
            <meta itemprop="position" content="1" />
          </li>

          <li
            class="crumb"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
            [class.is-active]="!thirdNavigation"
          >
            <a
              *ngIf="thirdNavigation; else secondActive"
              itemprop="item"
              [routerLink]="secondBreadcrumbLink"
              (click)="handleSecondBreadcrumbClick($event)"
              role="link"
              tabindex="0"
            >
              <span itemprop="name">{{ secondNavigation }}</span>
            </a>
            <ng-template #secondActive>
              <span itemprop="name">{{ secondNavigation }}</span>
            </ng-template>
            <meta itemprop="position" content="2" />
          </li>

          <li
            class="crumb is-active"
            *ngIf="thirdNavigation"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <ng-container *ngIf="thirdBreadcrumbLink; else thirdLabel">
              <a itemprop="item" [routerLink]="thirdBreadcrumbLink">
                <span itemprop="name">{{ thirdNavigation }}</span>
              </a>
            </ng-container>
            <ng-template #thirdLabel>
              <span itemprop="name">{{ thirdNavigation }}</span>
            </ng-template>
            <meta itemprop="position" content="3" />
          </li>
        </ol>
      </nav>
    </div>
  </header>
</div>

<!-- popups ostaju isto -->
<vehicle-selection-popup
  *ngIf="chooseVehicleVisible"
  (closePopupModal)="chooseVehicleVisible = false"
  (emitVehicle)="handleSelectedVehicle($event)"
>
</vehicle-selection-popup>

<autom-categories-popup
  *ngIf="chooseCategoryVisible"
  (close)="chooseCategoryVisible = false"
  (requestVehicleSearch)="handleVehicleSearchRequest()"
>
</autom-categories-popup>
