<section class="section about has-before" aria-labelledby="about-label">
  <div class="container">
    <figure class="about-banner">
      <img
        src="/images/navigation/about-banner.png"
        width="540"
        height="540"
        loading="lazy"
        alt="vehicle repire equipments"
        class="w-100"
      />
    </figure>

    <div class="about-content">
      <p class="section-subtitle :dark">O nama</p>

      <p class="section-text">
        <strong>AUTOMATERIJAL d.o.o </strong>. Šabac osnovan je 1990. godine i
        već više od {{ yearCompanyIsCreated }} godine uspešno snabdeva domaće
        tržište kvalitetnim auto-delovima, mazivima i materijalima za održavanje
        motornih vozila.
      </p>

      <p class="section-text">
        Naši klijenti uključuju fizička lica, ovlašćene i nezavisne servisere,
        vlasnike voznih parkova, proizvođačke industrije, kao i veleprodaje i
        maloprodaje delova za popravku motornih vozila.
      </p>

      <ul class="about-list">
        <li class="about-item">
          <p>
            <strong class="display-1 strong">8K+</strong> Zadovoljnih partnera
          </p>
        </li>

        <li class="about-item">
          <p><strong class="display-1 strong">22+</strong> Proizvodjaca</p>
        </li>

        <li class="about-item">
          <p>
            <strong class="display-1 strong">1000m<sup>2</sup></strong>
            Magacinskog prostora
          </p>
        </li>

        <li class="about-item">
          <p>
            <strong class="display-1 strong">25000+</strong> Razlicitih artikala
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
