<section class="webshop-landing">
  <!-- HERO SEKCIJA -->
  <section class="webshop-hero">
    <div class="hero-content">
      <h1>Auto delovi za tvoje vozilo</h1>
      <p>
        Preko <strong>80.000 delova</strong> spremnih za isporuku širom Srbije
      </p>
      <button class="cta-button">Odaberi vozilo</button>
    </div>

    <div class="hero-bg-image">
      <img
        src="/images/backgrounds/car-with-parts.png"
        alt="Ilustracija vozila"
      />
    </div>
  </section>

  <autom-showcase></autom-showcase>

  <!-- BRANDS -->
  <section class="brands-section fade-in" *ngIf="brands.length > 0">
    <h2>Izdvojeni proizvođači</h2>
    <ul class="card-grid" role="list">
      <li
        *ngFor="let brand of brands"
        (click)="filterByBrand(brand.id)"
        tabindex="0"
        role="button"
        [attr.aria-label]="'Filtriraj po brendu: ' + brand.label"
        (keydown.enter)="filterByBrand(brand.id)"
        (keydown.space)="filterByBrand(brand.id)"
      >
        <img [src]="brand.src" [alt]="brand.alt" loading="lazy" />
        <p>{{ brand.label }}</p>
      </li>
    </ul>
  </section>
</section>
