<section class="webshop-landing">
  <!-- HERO SEKCIJA -->
  <section class="webshop-hero">
    <div class="hero-content">
      <h1>Auto delovi za tvoje vozilo</h1>
      <p>
        Preko <strong>80.000 delova</strong> spremnih za isporuku širom Srbije
      </p>
      <button class="cta-button" (click)="chooseVehicleVisible = true">
        Odaberi vozilo
      </button>
    </div>

    <div class="hero-bg-image">
      <img
        src="/images/backgrounds/car-with-parts.png"
        alt="Ilustracija vozila"
      />
    </div>
  </section>

  <section class="webshop-empty-recommendation">
    <h2>Izdvajamo iz ponude</h2>
  </section>
  <autom-showcase></autom-showcase>

  <!-- BRANDS -->
  <section class="brands-section fade-in" *ngIf="brands.length > 0">
    <h2>Izdvojeni proizvođači</h2>
    <ul class="card-grid" role="list">
      <li
        *ngFor="let brand of brands"
        (click)="filterByBrand(brand.id)"
        tabindex="0"
        role="button"
        [attr.aria-label]="'Filtriraj po brendu: ' + brand.label"
        (keydown.enter)="filterByBrand(brand.id)"
        (keydown.space)="filterByBrand(brand.id)"
      >
        <img [src]="brand.src" [alt]="brand.alt" loading="lazy" />
        <p>{{ brand.label }}</p>
      </li>
    </ul>
  </section>

  <section class="oil-advisors-section">
    <h2>Pronađite odgovarajuće ulje za vaše vozilo</h2>
    <p class="subtitle">
      Iskoristite pomoć zvaničnih alata proizvođača da pronađete odgovarajuće
      ulje,<br />
      a zatim ga lako potražite kod nas.
    </p>

    <div class="advisors-grid">
      <a
        class="advisor-card"
        href="https://lubematch.shell.com"
        target="_blank"
        rel="noopener"
      >
        <div class="advisor-image">
          <img src="/images/brands/shell.png" alt="Shell LubeMatch" />
        </div>
        <p>Shell LubeMatch</p>
      </a>

      <a
        class="advisor-card"
        href="https://lukoil-lubricants.eu/en/Services/LubricantAdvisor"
        target="_blank"
        rel="noopener"
      >
        <div class="advisor-image">
          <img src="/images/brands/lukoil.png" alt="Lukoil Lubricant Advisor" />
        </div>
        <p>Lukoil Lubricant Advisor</p>
      </a>
    </div>
  </section>
</section>

<vehicle-selection-popup
  *ngIf="chooseVehicleVisible"
  (closePopupModal)="chooseVehicleVisible = false"
  (emitVehicle)="handleSelectedVehicle($event)"
>
</vehicle-selection-popup>
