<autom-popup
  *ngIf="visible"
  class="dead-stock-override-popup"
  [height]="sizeEnum.AUTO"
  [loading]="loading"
  [position]="positionEnum.CENTER"
  [rounded]="true"
  [subPosition]="positionEnum.CENTER"
  [width]="sizeEnum.MEDIUM"
  (overlayEvent)="requestClose()"
>
  <div custom-body class="confirmation-container dead-stock-override-popup__body">
    <div class="confirmation-container__icon">
      <autom-icon
        class="confirmation-container__icon--circle"
        [color]="colorEnum.YELLOW_700"
        [source]="iconEnum.ALERT_TRIANGLE"
      ></autom-icon>
    </div>
    <div class="confirmation-container__main">
      <div class="confirmation-container__header">
        <h3 class="h3">{{ confirmLabel }}</h3>
      </div>
      <div class="confirmation-container__body">
        <p>{{ description }}</p>
        <p class="dead-stock-override-popup__meta" *ngIf="articleLabel">
          Artikal: <strong>{{ articleLabel }}</strong>
        </p>
        <autom-text-area
          [counter]="true"
          [label]="'Razlog (opciono)'"
          [maxLength]="500"
          [rows]="4"
          [value]="draftReason"
          (emitSelected)="draftReason = $event"
        ></autom-text-area>
      </div>
      <div class="confirmation-container__footer">
        <autom-button
          [disabled]="loading"
          [label]="'Odustani'"
          [theme]="buttonThemes.LIGHT_GREY"
          [type]="buttonTypes.TERNARY"
          (clickEvent)="requestClose()"
        ></autom-button>

        <autom-button
          [disabled]="loading"
          [label]="confirmLabel"
          [theme]="nextSuppressed ? buttonThemes.LIGHT_RED : buttonThemes.DEFAULT"
          [type]="buttonTypes.PRIMARY"
          (clickEvent)="requestConfirm()"
        ></autom-button>
      </div>
    </div>
  </div>
</autom-popup>
