<section class="work product--background" aria-labelledby="work-label">
  <div class="container">
    <p class="section-subtitle :light" id="work-label">Brendovi</p>

    <!-- <h2 class="h2 section-title">Razliciti sektori</h2> -->

    <div class="display--flex autom-flex-wrap--wrap product">
      <ng-container *ngIf="brands?.length">
        <div
          class="product--card"
          *ngFor="let brand of brands"
          [routerLink]="['/webshop']"
          [queryParams]="{ mandatoryproid: brand.id }"
        >
          <img [src]="brand.src" [alt]="brand.alt" loading="lazy" />
        </div>
      </ng-container>
    </div>
  </div>
</section>
