<!-- 
        - #WORK
      -->

<section
  class="section work"
  style="background-image: url('/images/navigation/service-bg.jpg')"
  aria-labelledby="work-label"
>
  <div class="container">
    <p class="section-subtitle :light" id="work-label">Brendovi</p>

    <!-- <h2 class="h2 section-title">Razliciti sektori</h2> -->

    <div class="display--flex autom-flex-wrap--wrap product">
      <div class="product--card">
        <img src="/images/brands/shell.png" alt="Teapot with black tea" />
      </div>
      <div class="product--card">
        <img
          src="/images/brands/lukoil.png"
          loading="lazy"
          alt="Teapot with black tea"
        />
      </div>
      <div class="product--card">
        <img
          src="/images/brands/fuchs.png"
          loading="lazy"
          alt="Teapot with black tea"
        />
      </div>
      <div class="product--card">
        <img
          src="/images/brands/febi.png"
          loading="lazy"
          alt="Teapot with black tea"
        />
      </div>
      <div class="product--card">
        <img
          src="/images/brands/bilstain.png"
          loading="lazy"
          alt="Teapot with black tea"
        />
      </div>
      <div class="product--card">
        <img
          src="/images/brands/blue_print.png"
          loading="lazy"
          alt="Teapot with black tea"
        />
      </div>
      <div class="product--card">
        <img
          src="/images/brands/hiq.png"
          loading="lazy"
          alt="Teapot with black tea"
        />
      </div>
      <div class="product--card">
        <img
          src="/images/brands/mahle.png"
          loading="lazy"
          alt="Teapot with black tea"
        />
      </div>
      <div class="product--card">
        <img
          src="/images/brands/fleetguard.png"
          loading="lazy"
          alt="Teapot with black tea"
        />
      </div>
      <div class="product--card">
        <img
          src="/images/brands/victor_reinz.png"
          loading="lazy"
          alt="Teapot with black tea"
        />
      </div>
      <div class="product--card">
        <img
          src="/images/brands/pierburg.png"
          loading="lazy"
          alt="Teapot with black tea"
        />
      </div>
      <div class="product--card">
        <img
          src="/images/brands/kolbenschmidt.png"
          loading="lazy"
          alt="Teapot with black tea"
        />
      </div>
      <div class="product--card">
        <img
          src="/images/brands/magneti_marelli.png"
          loading="lazy"
          alt="Teapot with black tea"
        />
      </div>
      <div class="product--card">
        <img
          src="/images/brands/bottari.png"
          loading="lazy"
          alt="Teapot with black tea"
        />
      </div>
    </div>
  </div>
</section>
