.product {
  gap: 30px;
  align-items: center;
  justify-content: center;


  &--card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(60px, 30%, 160px);
    height: clamp(60px, 30%, 150px);
  }

  &--card img {
    cursor: pointer;
    filter: grayscale(30%);
  }
  &--card img:hover {
    filter: grayscale(0%);
  }
}