.product {
  gap: 30px;
  align-items: center;
  justify-content: center;

  &--background {
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0)), url("/images/navigation/service-bg.jpg") center/cover no-repeat;
  }

  &--card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 150px;
  }

  &--card img {
    cursor: pointer;
    filter: grayscale(30%);
  }
  &--card img:hover {
    filter: grayscale(0%);
  }
}