<section class="header-margin--top invoices">
  <autom-header
    [headerData]="headerData"
    [headingLevel]="headingLevelEnum.H2"
  ></autom-header>

  <div class="invoices__filter">
    <autom-input-fields [label]="'Datum od'" [type]="inputTypeEnum.DATE">
    </autom-input-fields>
    <autom-input-fields [label]="'Datum do'" [type]="inputTypeEnum.DATE">
    </autom-input-fields>
  </div>

  <autom-table-flat
    [columns]="columns"
    [displayedColumns]="displayedColumns"
    [dataSource]="dataSource"
    [loading]="loading"
    [pagination]="{
      length: totalItems,
      pageIndex: pageIndex,
      pageSize: rowsPerPage,
      pageSizeOptions: [5, 10, 25, 50]
    }"
    (pageChange)="onPageChange($event)"
    (rowClick)="onInvoiceClick($event.id)"
  ></autom-table-flat>
</section>
