<section
  class="section onama-brendovi"
  aria-label="Sektori kompanije i partneri"
>
  <div class="container">
    <h1 class="autom-margin--bottom__m">
      Sektori Kompanije i Partneri Od Poverenja
    </h1>

    <ng-container *ngFor="let section of sectionKeys">
      <div
        class="container autom-margin--top__s"
        *ngIf="getBrandsForSection(section).length"
      >
        <h2 class="sector-title autom-margin--bottom__xs">
          {{ getSectionLabel(section) }}
        </h2>

        <p class="sector-description autom-margin--bottom__xxs">
          {{ getSectionDescription(section) }}
        </p>

        <div class="brand-grid util__flex--wrap">
          <a
            class="brand"
            *ngFor="let brand of getBrandsForSection(section)"
            [routerLink]="['/webshop']"
            [queryParams]="{ mandatoryproid: brand.id }"
            [attr.aria-label]="'Pogledaj proizvode brenda ' + brand.alt"
          >
            <img [src]="brand.src" [alt]="brand.alt" loading="lazy" />
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</section>
