<section class="hero has-video-background header-onama" aria-label="o nama">
  <div class="video-background">
    <video
      title="Prezentacija Automaterijal kompanije"
      autoplay
      muted
      loop
      playsinline
      #presentationVideo
    >
      <source src="/videos/autom-prezentacija.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
    <div class="video-overlay"></div>
  </div>

  <div class="container">
    <div class="hero-content">
      <p class="section-subtitle :dark">
        Sve za vaše vozilo – na jednom mestu!
      </p>

      <h1 class="h1 section-title">
        Preko 30 godina pouzdan partner za delove za putnička i komercijalna
        vozila.
      </h1>
    </div>
  </div>
</section>
