<div class="webshop-container-roba">
  <webshop-category
    *ngIf="
      magacin &&
      magacin.categories &&
      magacin.proizvodjaci &&
      magacin.proizvodjaci.length
    "
    [categories]="magacin.categories"
    [filter]="filter"
    [manufactures]="magacin.proizvodjaci"
  ></webshop-category>
  <autom-table
    *ngIf="!loading && magacin?.robaDto?.content?.length"
    [data]="magacin?.robaDto!"
    [filter]="filter"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (emitTablePage)="handleTablePageEvent($event)"
  ></autom-table>
  <div
    *ngIf="!magacin?.robaDto?.content?.length && !loading"
    class="util__flex--center util__height no-result"
  >
    <h5 *ngIf="searchTerm">🔍 Nema rezultata za : "{{ searchTerm }}".</h5>
    <h5 *ngIf="vehicleDetails && vehicleDetails?.linkageTargetId">
      ✅ Filtrirano po vozilu : {{ vehicleDetails.mfrName }}
      {{ vehicleDetails.hmdMfrModelName }} {{ vehicleDetails.description }}.
    </h5>
    <h5 *ngIf="assemblyGroupName">✅ Kategorija : {{ assemblyGroupName }}</h5>
    <h5 *ngIf="filter.mandatoryProid && filter.mandatoryProid.length">
      ✅ Filtrirano po proizvodjacu : {{ filter.mandatoryProid }}.
    </h5>
    <h5 *ngIf="filter.proizvodjaci && filter.proizvodjaci.length">
      ✅ Filtrirano po proizvodjacu : {{ filter.proizvodjaci }}.
    </h5>
    <h5 *ngIf="filter.grupe && filter.grupe.length">
      ✅ Filtrirano po grupi : {{ filter.grupe }}.
    </h5>
    <h5 *ngIf="filter.podgrupe && filter.podgrupe.length">
      ✅ Filtrirano po kategoriji : {{ filter.podgrupe }}.
    </h5>
    <autom-button
      class="autom-margin--top__s"
      [label]="'Resetuj pretragu'"
      [theme]="buttonThemes.DEFAULT"
      [type]="buttonTypes.PRIMARY"
      (clickEvent)="resetSearchTerm()"
    ></autom-button>
  </div>
  <div *ngIf="loading" class="spinner">
    <spinner></spinner>
  </div>
</div>
