.webshop-container-roba {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 15px 0;
}

.spinner {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 1050px;
}

.no-result {
  width: 1050px;
}