.sales-reports {
  &__filter {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 24px 0;

    @media (max-width: 991px) {
      flex-direction: column;
      gap: 20px;
      align-items: stretch;
      padding: 0 16px;
    }
  }
}