<mat-icon
  *ngIf="!enableBadge"
  class="autom-icon"
  [attr.data-e2e-selector]="source"
  [automTooltip]="tooltipData.tooltipText!"
  [automTooltipPosition]="tooltipData.position!"
  [automTooltipTheme]="tooltipData.theme!"
  [automTooltipType]="tooltipData.type!"
  [automTooltipCustomCssClasses]="zIndexClass"
  [class.disabled]="disabled"
  [class.eu-labels]="euLabels"
  [class.no-fill]="noFill"
  [class.no-stroke]="noStroke"
  [ngClass]="color"
  [svgIcon]="source"
></mat-icon>

<mat-icon
  *ngIf="enableBadge"
  aria-hidden="false"
  class="autom-icon"
  [attr.data-e2e-selector]="source"
  [automTooltip]="tooltipData.tooltipText!"
  [automTooltipPosition]="tooltipData.position!"
  [automTooltipTheme]="tooltipData.theme!"
  [automTooltipType]="tooltipData.type!"
  [automTooltipCustomCssClasses]="zIndexClass"
  [class.disabled]="disabled"
  [class.eu-labels]="euLabels"
  [class.no-fill]="noFill"
  [class.no-stroke]="noStroke"
  [ngClass]="color"
  [svgIcon]="source"
  [matBadge]="enableBadge ? badge : undefined"
></mat-icon>
