$breakpoints: (
	'xs': var(--breakpoint-xs),
	'sm': var(--breakpoint-sm),
	'md': var(--breakpoint-md),
	'lg': var(--breakpoint-lg),
	'xl': var(--breakpoint-xl)
) !default;

@mixin autom-breakpoint($breakpoint, $range: 'min-width') {
	@if map-has-key($breakpoints, $breakpoint) {
		$value: map-get($breakpoints, $breakpoint);

		@if $range == 'max-width' {
			/* Removes 1px if using max-width so that
			 * there is no overlap when used with
			 * min-width. */
			$value: $value - 0.06rem;
		}

		@media ($range: $value) {
			@content;
		}
	} @else {
		@warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
      + "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}
