.youtube-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.blog-wrapper {
  width: 353px;
  height: 365px;
}

/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog {
  .title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 50px;
    margin-block-end: 50px;
  }

  .btn-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: var(--fw-500);
    transition: var(--transition-1);

    &:is(:hover, :focus) {
      color: var(--tan-crayola);
    }
  }
}

.blog-card {
  .card-banner {
    position: relative;
  }

  .card-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 15px;
    transform: translateX(100%);
    transition: var(--transition-2);

    &:is(:hover, :focus) {
      transform: translateX(0);
    }
  }

  .card-title {
    font-size: var(--text-sm);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    height: 50px;
    line-height: var(--font-1-line-height);
    margin-block: 20px 10px;
    transition: var(--transition-1);

    &:is(:hover, :focus) {
      color: var(--tan-crayola);
      text-decoration: underline;
    }
  }

  .card-meta-list {
    display: flex;
    align-items: center;
  }
}

.card-meta-item {
  position: relative;
  color: var(--granite-gray);
  font-size: var(--fs-5);

  &:not(:last-child)::after {
    content: "/";
    margin-inline: 8px;
    color: var(--spanish-gray);
  }
}

.card-meta-text {
  display: inline-block;
  color: var(--black);
  transition: var(--transition-1);

  a:is(:hover, :focus) {
    color: var(--tan-crayola);
  }
}
