.grid-list {
  display: grid;
  gap: 35px;
}

/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog {
  .title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px 50px;
    margin-block-end: 50px;
  }

  .btn-link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: var(--fw-500);
    transition: var(--transition-1);

    &:is(:hover, :focus) {
      color: var(--tan-crayola);
    }
  }
}

.blog-card {
  .card-banner {
    position: relative;
  }

  .card-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 15px;
    transform: translateX(100%);
    transition: var(--transition-2);

    &:is(:hover, :focus) {
      transform: translateX(0);
    }
  }

  .card-title {
    margin-block: 20px 10px;
    transition: var(--transition-1);
    height: 50px;

    &:is(:hover, :focus) {
      color: var(--tan-crayola);
    }
  }

  .card-meta-list {
    display: flex;
    align-items: center;
  }
}

.card-meta-item {
  position: relative;
  color: var(--granite-gray);
  font-size: var(--fs-5);

  &:not(:last-child)::after {
    content: "/";
    margin-inline: 8px;
    color: var(--spanish-gray);
  }
}

.card-meta-text {
  display: inline-block;
  color: var(--black);
  transition: var(--transition-1);

  a:is(:hover, :focus) {
    color: var(--tan-crayola);
  }
}

@media (min-width: 575px) {
  /**
   * REUSED STYLE
   */

  .grid-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;

    > li:last-child {
      grid-column: span 2;
      max-width: calc(50% - 12.5px);
      width: 100%;
      margin-inline: auto;
    }
  }
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {
  /**
   * REUSED STYLE
   */

  .grid-list {
    grid-template-columns: repeat(3, 1fr);

    > li:last-child {
      all: unset;
    }
  }
}
