<section
  class="section-nested blog has-bg-image blog--background autom-margin--bottom__m"
  aria-labelledby="service-label"
>
  <div class="container">
    <p class="section-subtitle :light" id="work-label">Nas Blog</p>
    <ul class="grid-list">
      <li>
        <div class="blog-card">
          <div
            class="card-banner img-holder"
            style="--width: 354; --height: 243"
          >
            <youtube-player width="354" height="243" videoId="8ZMLhKbxsqU" />
          </div>

          <div class="card-content">
            <h3 class="h3">
              <a href="#" class="card-title"
                >Značaj redovne zamene motornog ulja i posledice nepridržavanja
                optimalnih intervala zamene</a
              >
            </h3>

            <ul class="card-meta-list">
              <li class="card-meta-item">
                <time class="card-meta-text" datetime="2024-09-02"
                  >Maj 25, 2024</time
                >
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li>
        <div class="blog-card">
          <div
            class="card-banner img-holder"
            style="--width: 354; --height: 243"
          >
            <youtube-player width="354" height="243" videoId="RwFQ05brbV0" />
          </div>

          <div class="card-content">
            <h3 class="h3">
              <a href="#" class="card-title"
                >Najvažnije tečnosti u automobiliu i značaj njihove zamene</a
              >
            </h3>

            <ul class="card-meta-list">
              <li class="card-meta-item">
                <time class="card-meta-text" datetime="2024-09-02"
                  >Septembar 2, 2024</time
                >
              </li>
            </ul>
          </div>
        </div>
      </li>

      <li>
        <div class="blog-card">
          <div
            class="card-banner img-holder"
            style="--width: 354; --height: 243"
          >
            <youtube-player width="354" height="243" videoId="vtYvyGAUhxc" />
          </div>

          <div class="card-content">
            <h3 class="h3">
              <a href="#" class="card-title"
                >Novo u ponudi! Hi-Q kočioni sistem</a
              >
            </h3>

            <ul class="card-meta-list">
              <li class="card-meta-item">
                <time class="card-meta-text" datetime="2024-09-02"
                  >Oktobar 31, 2024</time
                >
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
