<section
  class="section-nested blog has-bg-image blog--background autom-margin--bottom__m"
  aria-labelledby="blog-label"
>
  <div class="container">
    <p class="section-subtitle :light" id="blog-label">Naš Blog</p>

    <div class="youtube-list">
      <div class="blog-wrapper" *ngFor="let video of videos">
        <div class="blog-card">
          <div class="card-banner" style="--width: 354; --height: 243">
            <youtube-player
              [videoId]="video.videoId"
              width="354"
              height="243"
            ></youtube-player>
          </div>

          <div class="card-content">
            <h3 class="h3">
              <a
                [href]="'https://www.youtube.com/watch?v=' + video.videoId"
                class="card-title"
                [attr.aria-label]="'Pogledaj blog: ' + video.title"
                target="_blank"
                rel="noopener noreferrer"
                >{{ video.title }}</a
              >
            </h3>

            <ul class="card-meta-list">
              <li class="card-meta-item">
                <time class="card-meta-text">
                  {{ video.publishedAt }}
                </time>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
