<div class="container product-table">
  <autom-chips
    *ngIf="filterChips.length"
    [chips]="filterChips"
    (emitEvent)="removeFilter($event)"
  ></autom-chips>
  <div class="product-row" *ngFor="let row of paginatedData">
    <div class="row-container">
      <!-- Image Section -->
      <div class="image-container">
        <img [src]="row.slika?.slikeUrl" alt="Product Image" />
      </div>

      <!-- Details Section -->
      <div class="details-container">
        <h3>
          {{
            row?.naziv?.includes(row?.proizvodjac?.naziv!)
              ? row.naziv
              : row?.proizvodjac?.naziv + " " + row.naziv
          }}
        </h3>
        <p class="autom-margin__none">
          Kataloski broj:
          <span class="color--figma-primary-800 display--inline font-medium">{{
            row.katbr
          }}</span>
        </p>
        <p>
          Kategorija:
          <span class="color--figma-primary-800 display--inline font-medium">{{
            row.podGrupaNaziv
          }}</span>
        </p>
        <table class="specifications">
          <tbody>
            <tr *ngFor="let spec of row.tehnickiOpis">
              <td>
                {{ spec.oznaka }}
                <span *ngIf="spec.jedinica" class="display--inline">[</span
                >{{ spec.jedinica }}
                <span *ngIf="spec.jedinica" class="display--inline">]</span>
              </td>
              <td class="autom-align__right">{{ spec.vrednost }}</td>
            </tr>
            <tr *ngIf="!row.tehnickiOpis?.length">
              <td colspan="2">No specifications available</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Pricing Section -->
      <div class="pricing-container">
        <div
          [ngClass]="{
            'item-status': true,
            green: row.stanje! > 0,
            red: row.stanje! === 0
          }"
        >
          {{ row.stanje! > 0 ? "Ima na stanju" : "Nema na stanju" }}
        </div>
        <p class="price">{{ row.cena! | rsdCurrency }}</p>
        <p class="autom-align__right">Cena sa pdv-om</p>
        <div class="util__flex--center">
          <autom-input-fields
            [min]="1"
            [clearBtn]="false"
            [max]="row.stanje!"
            [customClass]="'quantity-size'"
            [type]="inputTypeEnum.QUANTITY"
            [size]="sizeEnum.MEDIUM"
            [step]="1"
            [value]="1"
          ></autom-input-fields>
          <autom-button
            [iconPrefix]="true"
            [iconSource]="iconEnum.SHOPPING_CART"
            [iconColor]="colorEnum.INFO_25"
            [label]="'Dodaj u korpu'"
            mat-raised-button
            color="primary"
          />
        </div>
      </div>
    </div>
  </div>

  <!-- Paginator -->
  <mat-paginator
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 15, 25]"
    [length]="totalElements"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
