.product-table {
  max-width: 1050px;

  .product-row {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    padding: 16px;
  }

  .row-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;

    .image-container {
      align-items: center;
      display: flex;
      height: 180px;
      justify-content: center;
      overflow: hidden; /* Ovo osigurava da ništa ne prelazi granice */
      width: 200px;
    }

    .image-container img {
      max-height: 100%;
      max-width: 100%;
      object-fit: contain; /* Zadržava razmeru slike unutar zadanih granica */
    }

    .details-container {
      flex: 2;
      padding: 0 16px;

      h3 {
        font-size: 18px;
        margin: 0 0 8px;
      }

      p {
        font-size: 14px;
        color: #555;
        margin: 0 0 16px;
      }

      .specifications {
        width: 500px;
        font-size: 14px;
        color: #666;

        td {
          padding: 2px 8px;
        }

        td:first-child {
          font-weight: bold;
        }
      }
    }

    .pricing-container {
      text-align: left;

      .price {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0px;
        text-align: right;
      }

      .item-status {
        font-size: 12px;
        padding-left: 20px;
        position: relative; /* Ensure ::before is positioned relative to this element */
        text-align: right;
      }

      .item-status::before {
        border-radius: 50%;
        content: "";
        height: 6px;
        left: 140px;
        position: absolute;
        top: 9px;
        width: 6px;
      }

      .item-status.green::before {
        background: #00ba9c; /* Green for available */
      }

      .item-status.red::before {
        background: #ff4d4d; /* Red for not available */
      }

      button {
        text-transform: none;
      }
    }
  }
}
