.product-table {
  max-width: 1050px;

  .product-row {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    padding: 16px;
  }
}

@media (max-width: 991px) {
  .product-table {
    padding: 0 10px;
  }

  .product-row {
    padding: 12px 0;
  }
}