<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Automaterijal",
    "url": "https://automaterijal.com",
    "foundingDate": "1990",
    "description": "Više od 30 godina u autoindustriji – partneri: Shell, Mahle, Fuchs, Lukoil, itd.",
    "location": {
      "@type": "Place",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Kralja Milutina 159",
        "addressLocality": "Šabac",
        "postalCode": "15000",
        "addressCountry": "RS"
      }
    }
  }
</script>
<section class="section istorija" aria-label="Istorija kompanije">
  <h1 class="autom-align__center autom-margin--bottom__m">
    Istorija Kompanije
  </h1>
  <ul>
    <li style="--accent-color: #41516c">
      <time class="date">1990</time>
      <h3 class="title">Osnivanje</h3>
      <p class="descr">Osnovana kompanija Automaterijal.</p>
    </li>
    <li style="--accent-color: #fbca3e">
      <time class="date">1997</time>
      <h3 class="title">Saradnja sa Pierburg, Victor Reinz i Kolbenschmidt</h3>
      <p class="descr">
        Počeli smo saradnju sa brendovima: Pierburg, Victor Reinz i
        Kolbenschmidt.
      </p>
    </li>
    <li style="--accent-color: #e24a68">
      <time class="date">2000</time>
      <h3 class="title">Saradnja sa Febi, Blue Print i Bilstein</h3>
      <p class="descr">
        Asortiman proširen saradnjom sa brendovima: Febi, Blue Print i Bilstein.
      </p>
    </li>
    <li style="--accent-color: #1b5f8c">
      <time class="date">2016</time>
      <h3 class="title">Pokretanje sektora maziva</h3>
      <p class="descr">
        Pokrenut sektor maziva uz početak saradnje sa brendom Shell.
      </p>
    </li>
    <li style="--accent-color: #4cadad">
      <time class="date">2019</time>
      <h3 class="title">Saradnja sa Mahle</h3>
      <p class="descr">
        Dodata saradnja sa globalnim liderom u auto-industriji: Mahle.
      </p>
    </li>
    <li style="--accent-color: #9b59b6">
      <time class="date">2020</time>
      <h3 class="title">Osnivanje sektora filtera</h3>
      <p class="descr">Osnovan specijalizovani sektor filtera.</p>
    </li>
    <li style="--accent-color: #16a085">
      <time class="date">2022</time>
      <h3 class="title">Fleetguard</h3>
      <p class="descr">Proširen asortiman uključivanjem Fleetguard filtera.</p>
    </li>
    <li style="--accent-color: #c0392b">
      <time class="date">2023</time>
      <h3 class="title">Saradnja sa Lukoil</h3>
      <div class="descr">Početak saradnje sa brendom Lukoil.</div>
    </li>
    <li style="--accent-color: #f39c12">
      <time class="date">2024</time>
      <h3 class="title">Saradnja sa Fuchs</h3>
      <p class="descr">
        Saradnja proširena na Fuchs, vodećeg proizvođača maziva.
      </p>
    </li>
  </ul>
</section>
