<section class="section istorija">
  <h1 class="autom-align__center autom-margin--bottom__m">
    Istorija Kompanije
  </h1>
  <ul>
    <li style="--accent-color: #41516c">
      <div class="date">1990</div>
      <div class="title">Osnivanje</div>
      <div class="descr">Osnovana kompanija Automaterijal.</div>
    </li>
    <li style="--accent-color: #fbca3e">
      <div class="date">1997</div>
      <div class="title">
        Saradnja sa Pierburg, Victor Reinz i Kolbenschmidt
      </div>
      <div class="descr">
        Počeli smo saradnju sa brendovima: Pierburg, Victor Reinz i
        Kolbenschmidt.
      </div>
    </li>
    <li style="--accent-color: #e24a68">
      <div class="date">2000</div>
      <div class="title">Saradnja sa Febi, Blue Print i Bilstein</div>
      <div class="descr">
        Asortiman proširen saradnjom sa brendovima: Febi, Blue Print i Bilstein.
      </div>
    </li>
    <li style="--accent-color: #1b5f8c">
      <div class="date">2016</div>
      <div class="title">Pokretanje sektora maziva</div>
      <div class="descr">
        Pokrenut sektor maziva uz početak saradnje sa brendom Shell.
      </div>
    </li>
    <li style="--accent-color: #4cadad">
      <div class="date">2019</div>
      <div class="title">Saradnja sa Mahle</div>
      <div class="descr">
        Dodata saradnja sa globalnim liderom u auto-industriji: Mahle.
      </div>
    </li>
    <li style="--accent-color: #9b59b6">
      <div class="date">2020</div>
      <div class="title">Osnivanje sektora filtera</div>
      <div class="descr">Osnovan specijalizovani sektor filtera.</div>
    </li>
    <li style="--accent-color: #16a085">
      <div class="date">2022</div>
      <div class="title">Fleetguard</div>
      <div class="descr">
        Proširen asortiman uključivanjem Fleetguard filtera.
      </div>
    </li>
    <li style="--accent-color: #c0392b">
      <div class="date">2023</div>
      <div class="title">Saradnja sa Lukoil</div>
      <div class="descr">Početak saradnje sa brendom Lukoil.</div>
    </li>
    <li style="--accent-color: #f39c12">
      <div class="date">2024</div>
      <div class="title">Saradnja sa Fuchs</div>
      <div class="descr">
        Saradnja proširena na Fuchs, vodećeg proizvođača maziva.
      </div>
    </li>
  </ul>
</section>
