<div
  *ngIf="
    (categories && categories.length) || (manufactures && manufactures.length)
  "
  class="sidebar"
>
  <div class="filter-section">
    <div class="filter-container">
      <autom-radio-button
        [label]="'Raspolozivost'"
        [options]="radioOptions"
        [theme]="orientation.VERTICAL"
        (emitSelected)="adjustAvailability()"
      ></autom-radio-button>
    </div>
    <div class="filter-container" *ngIf="categories && categories.length">
      <autom-checkbox
        *ngIf="openCategoriesFilters"
        class="filter-selection"
        [horizontal]="false"
        [items]="categoriesCheckBoxModels"
        [label]="'Kategorije'"
        [size]="sizeEnum.AUTO"
        [theme]="orientation.VERTICAL"
        (emitCheckbox)="adjustCategoriesFilters()"
      ></autom-checkbox>
    </div>
    <div class="filter-container" *ngIf="manufactures && manufactures.length">
      <div class="filter-prefilter" *ngIf="manufactures.length > 7">
        <autom-input-fields
          [placeholder]="'Filter proizvodjaca'"
          [suffixIcon]="iconEnums.FILTER"
          [type]="inputTypeEnum.SEARCH"
          (emitSelected)="preFilterManufactures($event)"
        ></autom-input-fields>
      </div>
      <autom-checkbox
        *ngIf="openManufacturesFilters"
        class="filter-selection"
        [horizontal]="false"
        [items]="
          manufacturerPreFilter
            ? filteredManufactures
            : manufacturesCheckBoxModels
        "
        [label]="'Proizvodjaci'"
        [size]="sizeEnum.AUTO"
        [theme]="orientation.VERTICAL"
        (emitCheckbox)="adjustManufactureFilters()"
      ></autom-checkbox>
    </div>
  </div>
</div>
