<div
  *ngIf="
    (categories && categories.length) || (manufactures && manufactures.length)
  "
  class="sidebar"
>
  <div class="filter-section">
    <div class="filter-container">
      <autom-radio-button
        [label]="'Raspolozivost'"
        [options]="radioOptions"
        [theme]="orientation.VERTICAL"
      ></autom-radio-button>
    </div>
    <div class="filter-container" *ngIf="categories && categories.length">
      <autom-checkbox
        *ngIf="openCategoriesFilters"
        class="filter-selection"
        [label]="'Kategorije'"
        [items]="categoriesCheckBoxModels"
        [size]="sizeEnum.AUTO"
        [theme]="orientation.VERTICAL"
        [horizontal]="false"
        (emitCheckbox)="adjustCategoriesFilters($event)"
      ></autom-checkbox>
    </div>
    <div class="filter-container" *ngIf="manufactures && manufactures.length">
      <autom-checkbox
        *ngIf="openManufacturesFilters"
        [label]="'Proizvodjaci'"
        class="filter-selection"
        [items]="manufacturesCheckBoxModels"
        [size]="sizeEnum.AUTO"
        [theme]="orientation.VERTICAL"
        [horizontal]="false"
      ></autom-checkbox>
    </div>
  </div>
</div>
