.chip {
  .autom-icon {
    height: 18px;
    position: relative;
    top: 3px;
    width: 18px;
  }

  .label {
    align-items: center;
    color: var(--figma-grey-900);
    display: flex;
    font-weight: 600;
  }

  .value {
    color: var(--figma-error-600);
    font-weight: 500;
  }
}
