<mat-chip-set
  *ngIf="chips.length"
  class="chip"
  cdkDropList
  cdkDropListOrientation="horizontal"
>
  <mat-label class="label">Filteri: </mat-label>
  @for (chip of chips; track chip.label) {
  <mat-chip (click)="remove(chip)">
    <span class="value display--inline">
      {{ chip.label }}:
      {{
        chip.values.join(", ").length > 25
          ? chip.values.join(", ").slice(0, 25) + "..."
          : chip.values.join(", ")
      }}
    </span>
    <autom-icon [source]="iconSource.X"></autom-icon>
  </mat-chip>
  }
</mat-chip-set>
