.sales-report-details {
  .report-details {
    padding: 0px 20px 100px 20px;
  }
  .popup-container__body {
    justify-content: center;
    overflow-y: auto;
  }

  .page-details__footer {
    justify-content: center;
  }

  .sales-report-btn button {
    width: 200px;
  }
}