.oe-title {
  color: var(--text-900);
  font-size: 22px !important;
  font-weight: 600;
  margin-bottom: 10px;
}

.oe-subtitle {
  font-size: 14px;
  color: var(--text-500);
  margin-bottom: 15px;
}

.oe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.oe-item {
  color: var(--primary-600);
  text-decoration: none;
  font-size: 14px;

  &:hover {
    color: #0284c7;
    text-decoration: underline;
  }
}
