<section class="section work" aria-labelledby="work-label">
  <div class="container">
    <p class="section-subtitle :light" id="work-label">Nasi timovi</p>

    <!-- <h2 class="h2 section-title">Razliciti sektori</h2> -->

    <ul class="has-scrollbar">
      <li class="scrollbar-item">
        <div class="work-card">
          <figure
            class="card-banner img-holder"
            style="--width: 350; --height: 406"
          >
            <img
              src="/images/navigation/timovi-delovi.png"
              width="350"
              height="406"
              loading="lazy"
              alt="Engine Repair"
              class="img-cover timovi-card"
            />
          </figure>

          <div class="card-content">
            <p class="card-subtitle">Auto Delovi</p>

            <h4 class="card-title">Odaberite kvalitet za svoje vozilo</h4>

            <a href="#" class="card-btn">
              <autom-icon
                source="arrow-right"
                [color]="iconColor.INFO_25"
              ></autom-icon>
            </a>
          </div>
        </div>
      </li>

      <li class="scrollbar-item">
        <div class="work-card">
          <figure
            class="card-banner img-holder"
            style="--width: 350; --height: 406"
          >
            <img
              src="/images/navigation/timovi-ulja.png"
              width="350"
              height="406"
              loading="lazy"
              alt="Car Tyre change"
              class="img-cover timovi-card"
            />
          </figure>

          <div class="card-content">
            <p class="card-subtitle">Maziva</p>

            <h4 class="card-title">Kvalitetna maziva za sve primene</h4>

            <a href="#" class="card-btn">
              <autom-icon
                source="arrow-right"
                [color]="iconColor.INFO_25"
              ></autom-icon>
            </a>
          </div>
        </div>
      </li>

      <li class="scrollbar-item">
        <div class="work-card">
          <figure
            class="card-banner img-holder"
            style="--width: 350; --height: 406"
          >
            <img
              src="/images/navigation/timovi-filteri.png"
              width="350"
              height="406"
              loading="lazy"
              alt="Battery Adjust"
              class="img-cover timovi-card"
            />
          </figure>

          <div class="card-content">
            <p class="card-subtitle">Filteri</p>

            <h4 class="card-title">
              Pouzdani filteri za teretna i građevinska vozila
            </h4>

            <a href="#" class="card-btn">
              <autom-icon
                source="arrow-right"
                [color]="iconColor.INFO_25"
              ></autom-icon>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
