.header {
  &--background {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
      url("/images/navigation/main-header.webp") center/cover no-repeat;
  }

  &--background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(222, 44%, 18%, 0.47); /* Poluprozirni overlay */
    z-index: 1;
  }
}
