<main>
  <article>
    <!-- 
        - #HERO
      -->

    <section class="hero has-bg-image header--background" aria-label="home">
      <div class="container">
        <div class="hero-content">
          <p class="section-subtitle :dark">
            Sve za vaše vozilo – na jednom mestu!
          </p>

          <h1 class="h1 section-title">
            Širok izbor delova, filtera, ulja i maziva – sve na jednom mestu.
          </h1>

          <p class="section-text">Poseti Web Shop</p>

          <a href="#" class="btn">
            <span class="span">Web Shop</span>
            <autom-icon
              source="arrow-right"
              [color]="iconColor.GREY_100"
            ></autom-icon>
          </a>
        </div>

        <figure class="hero-banner" style="--width: 1228; --height: 789">
          <img
            src="/images/navigation/hero-banner.png"
            width="1228"
            height="789"
            alt="red motor vehicle"
            class="move-anim"
          />
        </figure>
      </div>
    </section>

    <!-- 
        - #WORK
      -->

    <section class="section work" aria-labelledby="work-label">
      <div class="container">
        <p class="section-subtitle :light" id="work-label">Nasi timovi</p>

        <!-- <h2 class="h2 section-title">Razliciti sektori</h2> -->

        <ul class="has-scrollbar">
          <li class="scrollbar-item">
            <div class="work-card">
              <figure
                class="card-banner img-holder"
                style="--width: 350; --height: 406"
              >
                <img
                  src="/images/navigation/timovi-delovi.png"
                  width="350"
                  height="406"
                  loading="lazy"
                  alt="Engine Repair"
                  class="img-cover timovi-card"
                />
              </figure>

              <div class="card-content">
                <p class="card-subtitle">Auto Delovi</p>

                <h3 class="h3 card-title">Sve za vase vozilo</h3>

                <a href="#" class="card-btn">
                  <autom-icon
                    source="arrow-right"
                    [color]="iconColor.GREY_100"
                  ></autom-icon>
                </a>
              </div>
            </div>
          </li>

          <li class="scrollbar-item">
            <div class="work-card">
              <figure
                class="card-banner img-holder"
                style="--width: 350; --height: 406"
              >
                <img
                  src="/images/navigation/timovi-ulja.png"
                  width="350"
                  height="406"
                  loading="lazy"
                  alt="Car Tyre change"
                  class="img-cover timovi-card"
                />
              </figure>

              <div class="card-content">
                <p class="card-subtitle">Maziva</p>

                <h3 class="h3 card-title">Kvalitetna maziva za sve primene</h3>

                <a href="#" class="card-btn">
                  <autom-icon
                    source="arrow-right"
                    [color]="iconColor.GREY_100"
                  ></autom-icon>
                </a>
              </div>
            </div>
          </li>

          <li class="scrollbar-item">
            <div class="work-card">
              <figure
                class="card-banner img-holder"
                style="--width: 350; --height: 406"
              >
                <img
                  src="/images/navigation/timovi-filteri.png"
                  width="350"
                  height="406"
                  loading="lazy"
                  alt="Battery Adjust"
                  class="img-cover timovi-card"
                />
              </figure>

              <div class="card-content">
                <p class="card-subtitle">Filteri</p>

                <h4 class="h3 card-title">
                  Pouzdani filteri za teretna i građevinska vozila
                </h4>

                <a href="#" class="card-btn">
                  <autom-icon
                    source="arrow-right"
                    [color]="iconColor.GREY_100"
                  ></autom-icon>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <!-- 
        - #ABOUT
      -->

    <section class="section about has-before" aria-labelledby="about-label">
      <div class="container">
        <figure class="about-banner">
          <img
            src="/images/navigation/about-banner.png"
            width="540"
            height="540"
            loading="lazy"
            alt="vehicle repire equipments"
            class="w-100"
          />
        </figure>

        <div class="about-content">
          <p class="section-subtitle :dark">O nama</p>

          <p class="section-text">
            <strong>AUTOMATERIJAL d.o.o </strong>. Šabac osnovan je 1990. godine
            i već više od {{ yearCompanyIsCreated }} godine uspešno snabdeva
            domaće tržište kvalitetnim auto-delovima, mazivima i materijalima za
            održavanje motornih vozila.
          </p>

          <p class="section-text">
            Naši klijenti uključuju fizička lica, ovlašćene i nezavisne
            servisere, vlasnike voznih parkova, proizvođačke industrije, kao i
            veleprodaje i maloprodaje delova za popravku motornih vozila.
          </p>

          <ul class="about-list">
            <li class="about-item">
              <p>
                <strong class="display-1 strong">8K+</strong> Zadovoljnih
                partnera
              </p>
            </li>

            <li class="about-item">
              <p><strong class="display-1 strong">22+</strong> Proizvodjaca</p>
            </li>

            <li class="about-item">
              <p>
                <strong class="display-1 strong">1000m<sup>2</sup></strong>
                Magacinskog prostora
              </p>
            </li>

            <li class="about-item">
              <p>
                <strong class="display-1 strong">25000+</strong> Razlicitih
                artikala
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </article>
</main>
