<main>
  <article>
    <section class="hero has-bg-image header--background" aria-label="home">
      <div class="container">
        <div class="hero-content">
          <p class="section-subtitle :dark">
            Sve za vaše vozilo – na jednom mestu!
          </p>

          <h1 class="h1 section-title">
            Širok izbor delova, filtera, ulja i maziva – sve na jednom mestu.
          </h1>

          <p class="section-text">Poseti Web Shop</p>

          <a routerLink="/webshop" class="btn">
            <span class="span">Web Shop</span>
            <autom-icon
              source="arrow-right"
              [color]="iconColor.INFO_25"
            ></autom-icon>
          </a>
        </div>

        <figure class="hero-banner" style="--width: 1228; --height: 789">
          <img
            src="/images/navigation/hero-banner.png"
            width="1228"
            height="789"
            alt="red motor vehicle"
            class="move-anim"
          />
        </figure>
      </div>
    </section>
  </article>
</main>
