

b,
strong {
	font-weight: var(--font-weight-black);
}

p {
	line-height: var(--font-2-line-height);
	font-size: var(--text-sm);
}

ul {
	list-style: none;
	margin-bottom: auto;
	padding: 0;
}

label {
	display: inline-block;
	width: 100%;
}

hr {
	align-self: stretch;
	background-color: var(--figma-grey-500);
	border: none;
	flex: none;
	height: var(--space-default);
	margin: var(--space-m) 0;
	order: 0;
}
