

/**
 * overlay 
 */

.overlay-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  z-index: 15;
  transition: 0.5s ease;
  opacity: 1;
  pointer-events: all;
}

.desktop-navigation-menu {
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
  display: none;
}

.mobile-bottom-navigation {
  background: var(--white);
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
  z-index: 5;
}

.mobile-bottom-navigation .action-btn {
  position: relative;
  font-size: 26px;
  color: var(--eerie-black);
  padding: 10px;
}

.mobile-bottom-navigation .count {
  background: var(--bittersweet);
  color: var(--white);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  font-weight: var(--fw-600);
  line-height: 1;
  padding: 2px 4px;
  border-radius: 20px;
}

.mobile-navigation-menu {
  background: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 320px;
  height: 100vh;
  padding: 20px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
  overflow-y: scroll;
  overscroll-behavior: contain;
  transition: 0.5s ease;
  z-index: 20;
}

.menu-top {
  padding-bottom: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--figma-grey-100);
}

.menu-top .menu-title {
  color: var(--bittersweet);
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
}

.menu-close-btn {
  color: var(--eerie-black);
  font-size: 22px;
}

.mobile-menu-category-list {
  margin-bottom: 30px;
}

.menu-category .accordion-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-category-list .menu-category {
  border-bottom: 1px solid var(--figma-grey-100);
}

.mobile-menu-category-list .menu-title {
  color: var(--rich-black-fogra-29);
  font-size: var(--fs-7);
  font-weight: var(--fw-600);
  padding: 12px 0;
}

.mobile-menu-category-list .menu-title:hover {
  color: var(--bittersweet);
}

.menu-social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-social-container .social-link {
  background: var(--cultured);
  color: var(--eerie-black);
  font-size: 20px;
  padding: 10px;
  border-radius: var(--border-radius-md);
}

.menu-social-container .social-link:hover {
  background: var(--bittersweet);
}

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */

  --international-orange-engineering: hsl(1, 91%, 37%);
  --cadet-blue-creyola: hsl(222, 14%, 69%);
  --oxford-blue-1: hsl(222, 47%, 15%);
  --oxford-blue-2: hsl(222, 44%, 14%);
  --oxford-blue-3: hsl(222, 50%, 11%);
  --sonic-silver: hsl(0, 0%, 44%);
  --space-cadet: hsl(222, 44%, 18%);
  --pastel-pink: hsl(1, 53%, 75%);
  --eerie-black: hsl(0, 0%, 15%);
  --light-gray: hsl(0, 0%, 80%);
  --white: hsl(0, 0%, 100%);

  /**
   * typography
   */

  --ff-chakra-petch: "Chakra Petch", sans-serif;
  --ff-mulish: "Mulish", sans-serif;

  --fs-1: 3.5rem;
  --fs-2: 3rem;
  --fs-3: 2.4rem;
  --fs-4: 1.8rem;
  --fs-5: 1.4rem;
  --fs-6: 1.2rem;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * spacing
   */

  --section-padding: 60px;
  --section-nested-padding: 45px;

  /**
   * box shadow
   */

  --shadow: 0px 0px 100px 0px hsl(216, 9%, 90%);

  /**
   * border radius
   */

  --radius-pill: 100px;
  --radius-circle: 50%;

  /**
   * transition
   */

  --transition: 0.25s ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
button {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

address {
  font-style: normal;
}

html {
  font-family: var(--ff-mulish);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--sonic-silver);
  font-size: 1.6rem;
  line-height: 1.5;
}

:focus-visible {
  outline-offset: 4px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 16px;
}

.material-symbols-rounded {
  --fs: 1em;
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 40;
  font-size: var(--fs);
  width: 1em;
  overflow: hidden;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.section-subtitle {
  max-width: max-content;
  font-family: var(--ff-chakra-petch);
  font-size: var(--fs-5);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  margin-block-end: 12px;
  margin-inline: auto;
}

.section-subtitle::before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 30px;
  margin-block-end: -2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.section-subtitle.\:dark {
  color: var(--white);
}

.section-subtitle.\:dark::before {
  background-image: url("/images/navigation/text-bars-light.png");
}

.section-subtitle.\:light {
  color: var(--international-orange-engineering);
}

.section-subtitle.\:light::before {
  background-image: url("/images/navigation/text-bars-dark.png");
}

.section-title {
  text-align: center;
}

.h1,
.h2,
.h3,
.display-1 {
  font-family: var(--ff-chakra-petch);
  font-weight: var(--fw-700);
  text-transform: uppercase;
}

.display-1 {
  font-size: var(--fs-1);
}

.h1 {
  color: var(--white);
  font-size: var(--fs-2);
  line-height: 1.1;
  letter-spacing: 1px;
}

.h2,
.h3 {
  color: var(--eerie-black);
  font-weight: var(--fw-600);
  line-height: 1.2;
}

.h2 {
  font-size: var(--fs-3);
}

.h3 {
  font-size: var(--fs-4);
}

.btn {
  background-color: var(--international-orange-engineering);
  color: var(--white);
  max-width: max-content;
  font-family: var(--ff-chakra-petch);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border: 1px solid transparent;
  border-radius: var(--radius-pill);
  transition: var(--transition);
  will-change: transform;
}

.btn:is(:hover, :focus-visible) {
  transform: translateY(-5px);
  background-color: var(--oxford-blue-3);
  border-color: var(--white);
}

.move-anim {
  animation: moving 2s ease-in-out infinite alternate;
}

@keyframes moving {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

.section {
  padding-block: var(--section-padding);
}

.btn-link {
  font-family: var(--ff-chakra-petch);
  text-transform: uppercase;
  color: var(--international-orange-engineering);
  font-weight: var(--fw-700);
}

.w-100 {
  width: 100%;
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.has-scrollbar {
  display: flex;
  align-items: center;
  gap: 30px;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 20px;
}

.has-scrollbar-mobile {
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  padding-block-end: 20px;
}

.scrollbar-item {
  min-width: 100%;
  scroll-snap-align: start;
}

.has-scrollbar::-webkit-scrollbar {
  height: 16px;
}

.has-scrollbar::-webkit-scrollbar-track {
  background-color: var(--pastel-pink);
  border-radius: 20px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--international-orange-engineering);
  border-radius: 20px;
  border: 3px solid var(--pastel-pink);
}

.has-scrollbar::-webkit-scrollbar-button {
  width: 15%;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header {
  background: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition-1);
  z-index: 4;
}

.header.active {
  box-shadow: 0 2px 10px hsla(0, 0%, 0%, 0.1);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
}

.nav-open-btn {
  font-size: 30px;
  background: var(--bittersweet);
  color: var(--white);
  padding: 8px;
}

.nav-open-btn:is(:hover, :focus) {
  background: var(--bittersweet);
}

.nav-open-btn ion-icon {
  --ionicon-stroke-width: 40px;
}

.navbar {
  background: var(--white);
  position: fixed;
  top: 0;
  left: -280px;
  width: 100%;
  max-width: 270px;
  height: 100%;
  border-right: 3px solid var(--rich-black-fogra-29);
  font-family: var(--ff-roboto) !important;
  overflow-y: auto;
  overscroll-behavior: contain;
  z-index: 2;
  visibility: hidden;
  transition: 0.25s var(--cubic-out);
}

.navbar.active {
  visibility: visible;
  transform: translateX(280px);
  transition: 0.5s var(--cubic-in);
}

.nav-close-btn {
  color: var(--rich-black-fogra-29);
  position: absolute;
  top: 0;
  right: 0;
  padding: 13px;
  font-size: 25px;
  transition: var(--transition-1);
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width: 55px;
}

.nav-close-btn:is(:hover, :focus) {
  color: var(--bittersweet);
}

.navbar {
  background: var(--maximum-blue-green_10);
  padding-block: 50px 40px;
}

.navbar .logo img {
  margin-inline: auto;
}

.navbar-list,
.nav-action-list {
  margin: 30px;
}

.navbar-list {
  padding: 20px;
  border-bottom: 1px solid var(--gainsboro);
}

.navbar-link {
	font-size: var(--text-m);
  color: var(--rich-black-fogra-29);
  padding-block: 10px;
  transition: var(--transition-1);
}

.navbar-link:is(:hover, :focus) {
  color: var(--bittersweet);
}

.navbar-item:not(:last-child) {
  border-bottom: 1px solid var(--gainsboro);
}

.nav-action-list > li:first-child {
  display: none;
}

.nav-action-btn {
  color: var(--rich-black-fogra-29);
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-block: 10px;
  transition: var(--transition-1);
}

.nav-action-btn:is(:hover) {
  color: var(--bittersweet);
}
.nav-action-btn svg path:is(:hover) {
  color: var(--bittersweet);
}

.nav-btn:hover {
  mat-icon svg path {
    stroke: var(--figma-highlight-orange) !important;
  } 
}
.nav-action-text strong {
  font-weight: initial;
  color: var(--bittersweet);
}

.nav-action-badge {
  margin-left: auto;
  font-size: var(--fs-8);
  background: var(--bittersweet);
  color: var(--white);
  width: 18px;
  height: 18px;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 0.6);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: var(--transition-1);
  opacity: 1;
  pointer-events: all;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  position: relative;
  padding-block-start: calc(var(--section-padding) + 70px);
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

.hero .container {
  display: grid;
  gap: 30px;
}

.hero .section-subtitle {
  text-transform: unset;
}

.hero .section-text {
  color: var(--white);
  margin-block: 14px 18px;
}

.hero .btn {
  margin-inline: auto;
}

.hero-banner {
  aspect-ratio: var(--width) / var(--height);
  z-index: 1;
}

.hero-banner img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  z-index: -1;
}

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service-banner {
  display: none;
}

.service {
  text-align: center;
}

.service-list {
  gap: 0;
  margin-block-end: 40px;
}

.service-card .card-icon {
  max-width: max-content;
  margin-inline: auto;
  margin-block-end: 24px;
}

.service-card .card-text {
  line-height: 1.2;
  margin-block: 8px;
}

.service .btn {
  margin-inline: auto;
}

/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about {
  background-color: var(--space-cadet);
  color: var(--white);
  text-align: center;
}

.about .container {
  display: grid;
  gap: 50px;
}

.about .section-title {
  color: var(--white);
}

.about .section-text:nth-child(3) {
  margin-block: 12px 8px;
}

.about-list {
  display: grid;
  gap: 25px;
  margin-block-start: 25px;
}

.about-item {
  background-color: var(--oxford-blue-2);
  padding: 40px 20px;
  transition: var(--transition);
}

.about-item:hover {
  background-color: var(--international-orange-engineering);
  transform: translateY(-8px);
}

.about-item .strong {
  display: block;
  line-height: 1.1;
}

/*-----------------------------------*\
  #WORK
\*-----------------------------------*/

.work .container {
  padding-inline: 0;
}

.work .section-title {
  margin-block-end: 24px;
}

.work-card {
  position: relative;
}

.work-card .card-content {
  background-color: var(--white);
  max-width: 90%;
  padding: 30px 10px;
  margin-block-start: -60px;
  margin-inline: auto;
  position: relative;
  text-align: center;
  box-shadow: var(--shadow);
}

.work-card .card-subtitle {
  font-family: var(--ff-chakra-petch);
  text-transform: uppercase;
  color: var(--international-orange-engineering);
  font-weight: var(--fw-700);
  margin-block-end: 5px;
}

.work-card .card-title {
  margin-block-end: 10px;
}

.work-card .card-btn {
  background-color: var(--international-orange-engineering);
  color: var(--white);
  font-size: 2rem;
  margin-inline: auto;
  width: 38px;
  height: 38px;
  display: grid;
  place-items: center;
  border-radius: var(--radius-circle);
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  color: var(--cadet-blue-creyola);
}

.footer .shape {
  display: none;
}

.footer-top {
  background-color: var(--space-cadet);
}

.footer-top .container {
  display: grid;
  gap: 40px;
}

.footer-text {
  margin-block: 18px 20px;
}

.social-list {
  display: flex;
  gap: 8px;
  justify-self: center;
}

.social-link {
  background-color: var(--oxford-blue-3);
  padding: 14px;
  border-radius: var(--radius-circle);
  transition: var(--transition);
}

.social-link:is(:hover, :focus-visible) {
  background-color: var(--international-orange-engineering);
  transform: translateY(-5px);
}

.footer .h3 {
  color: var(--white);
  margin-block-end: 18px;
}

.footer-list .p {
  color: var(--white);
  font-weight: var(--fw-400);
  margin-block-end: 7px;
}

.footer-list li:not(:first-child) {
  margin-block-start: 16px;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-link:is(:hover, :focus-visible) {
  cursor: pointer;
  color: var(--international-orange-engineering);
}

.footer-link .material-symbols-rounded {
  flex-shrink: 0;
  font-size: 1.8rem;
  color: var(--international-orange-engineering);
}

.footer-bottom {
  background-color: var(--oxford-blue-1);
  padding-block: 20px;
}

.copyright {
  text-align: center;
  font-size: var(--fs-6);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 300px screen
 */

@media (min-width: 300px) {
  .hero-banner img {
    width: 70%;
  }
  .hero-content {
    margin-inline: auto;
    max-width: 520px;
    z-index: 1;
  }
}

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {
  .mobile-bottom-navigation {
    border-top-left-radius: var(--border-radius-md);
    border-top-right-radius: var(--border-radius-md);
  }

  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-2: 4rem;
    --fs-3: 2.8rem;
    --fs-4: 2rem;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  .section-subtitle {
    --fs-5: 1.6rem;
  }

  .h2 {
    font-weight: var(--fw-700);
  }

  /**
   * HERO
   */

  .hero .container {
    max-width: unset;
  }

  .hero-content {
    margin-inline: auto;
    max-width: 520px;
    z-index: 1;
  }

  .hero .section-text {
    font-size: 1.8rem;
  }

  /**
   * SERVICE
   */

  .service .section-title {
    margin-block-end: 30px;
  }

  .service-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-block-end: 40px;
  }

  /**
   * ABOUT
   */

  .about-list {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .about-item {
    padding-block: 20px;
  }

  /**
   * WORK
   */

  .scrollbar-item {
    min-width: calc(50% - 15px);
  }

  /**
   * FOOTER
   */

  .footer-top {
    position: relative;
    overflow: hidden;
  }

  .footer-top .container {
    grid-template-columns: 1fr 1fr;
  }

  .footer .shape-3 {
    display: block;
    position: absolute;
    bottom: -30px;
    right: 0;
  }
}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 4rem;
    --fs-2: 5rem;
    --fs-3: 3.4rem;
  }

  /**
   * REUSED STYLE
   */

  .container,
  .hero-content {
    max-width: 720px;
  }

  .btn {
    padding: 16px 32px;
  }

  .section-subtitle {
    --fs-5: 1.8rem;
  }

  .section-title:not(.h1) {
    max-width: 500px;
    margin-inline: auto;
  }

  /**
   * HERO
   */

  .hero {
    height: 100vh;
  }

  .hero .section-text {
    margin-block-end: 30px;
  }

  /**
   * SERVICE
   */

  .service-banner {
    display: block;
    position: relative;
  }

  .service-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
   * ABOUT
   */

  .about-banner {
    max-width: max-content;
  }

  .about-banner,
  .about .section-text {
    margin-inline: auto;
  }

  .about .section-text {
    max-width: 520px;
  }

  /**
   * FOOTER
   */

  .footer-top .container {
    grid-template-columns: 1fr 0.9fr 0.9fr;
  }

  .copyright {
    --fs-6: 1.4rem;
  }
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {
  .mobile-bottom-navigation {
    display: none;
  }

  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-1: 2.6rem;
    --fs-2: 4.4rem;
    --fs-3: 3.8rem;
    --fs-4: 2.2rem;

    /**
     * spacing
     */

    --section-padding: 100px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 960px;
  }

  .section-text,
  .card-text {
    font-size: 1.2rem;
  }

  /*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

  /**
   * HEADER
   */
  .desktop-navigation-menu {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.05);
    display: block;
  }
  .nav-open-btn,
  .nav-close-btn,
  .navbar,
  .nav-action-text,
  .overlay {
    display: none;
  }

  .navbar,
  .navbar-list,
  .nav-action-list {
    all: unset;
  }

  .navbar-item:not(:last-child) {
    border: none;
  }

  .navbar-list,
  .nav-action-list {
    display: flex;
  }

  .nav-action-list {
    gap: 25px;
  }

  .navbar {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .navbar-list {
    margin-inline: auto;
    gap: 45px;
  }

  .navbar-link {
    font-family: var(--ff-roboto) !important;
    font-weight: var(--fw-600);
  }

  .nav-action-list > li:first-child {
    display: block;
  }

  .nav-action-btn {
    position: relative;
  }

  .nav-action-badge ion-icon {
    --ionicon-stroke-width: 30px;
  }

  .nav-action-badge {
    position: absolute;
    top: 5px;
    right: -12px;
  }

  /**
   * HERO
   */

  .hero {
    text-align: left;
    padding-block-end: 80px;
  }

  .hero .container {
    max-width: 960px;
    grid-template-columns: 1fr 1fr;
  }

  .hero :is(.section-subtitle, .btn) {
    margin-inline: 0;
  }

  .hero .section-title {
    text-align: left;
  }

  .hero-banner img {
    width: 55%;
  }

  /**
   * SERVICE
   */

  .service-card .card-text {
    padding-inline: 25px;
    line-height: 1.45;
    margin-block-end: 15px;
  }

  .service-list li:nth-child(-2n + 3) {
    margin-block-start: 90px;
  }

  .service-list li:nth-child(4) {
    margin-inline-end: 60px;
  }

  .service-list li:nth-child(6) {
    margin-inline-start: 60px;
  }

  /**
   * ABOUT
   */

  .about {
    position: relative;
    z-index: 1;
  }

  .about,
  .about .section-title {
    text-align: left;
  }

  .about .container {
    grid-template-columns: 1fr 0.75fr;
    gap: 30px;
  }

  .about .section-subtitle {
    margin-inline: 0;
  }

  .about-banner,
  .about-banner .w-100 {
    margin-inline: auto 0;
  }

  .about-banner .w-100 {
    width: 40%;
  }

  .about-item {
    text-align: center;
  }

  .about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url("/images/navigation/o-nama.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    z-index: -1;
  }

  /**
   * WORK
   */

  .has-scrollbar {
    overflow-x: visible;
  }

  .scrollbar-item {
    min-width: calc(33.33% - 20px);
  }
}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-2: 5rem;
    --fs-3: 4.6rem;
  }

  /**
   * REUSED STYLE
   */

  .container,
  .hero .container {
    max-width: 1400px;
  }

  .btn {
    padding: 18px 36px;
  }

  .btn .material-symbols-rounded {
    --fs: 1.3em;
  }

  /**
   * HERO
   */

  .hero {
    padding-block: 250px 180px;
  }

  .hero .container {
    grid-template-columns: 1fr 0.9fr;
  }

  .hero .section-text {
    font-size: 2rem;
    padding-inline-end: 120px;
  }

  .hero-banner img {
    width: 70%;
  }

  /**
   * SERVICE
   */

  .service .section-title {
    max-width: 700px;
  }

  .service-list {
    margin-block-end: 70px;
  }

  .service-list li:nth-child(2) .card-text {
    padding-inline: 50px;
  }

  .service-list li:nth-child(-2n + 3) {
    margin-block-start: 110px;
  }

  .service-list li:is(:nth-child(1), :nth-child(6)) {
    margin-inline-start: 75px;
  }

  .service-list li:is(:nth-child(3), :nth-child(4)) {
    margin-inline-end: 75px;
  }

  /**
   * WORK
   */

  .work-card .card-btn {
    font-size: 2.4rem;
    width: 55px;
    height: 55px;
  }

  /**
   * FOOTER
   */

  .footer-top {
    padding-block: 150px;
  }

  .footer-top .container {
    padding-inline-start: 25%;
  }

  .footer-bottom {
    position: relative;
    padding-block: 30px;
    z-index: 1;
  }

  .footer :is(.shape-1, .shape-2) {
    display: block;
    position: absolute;
    bottom: 0;
    width: 45%;
    pointer-events: none;
    z-index: -1;
  }

  .footer .shape-1 {
    max-width: 700px;
    left: -100px;
  }

  .footer .shape-2 {
    left: -50px;
  }
}

/**
 * responsive for large than 1400px screen
 */

@media (min-width: 1400px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * typography
     */

    --fs-2: 6rem;

    /**
     * spacing
     */

    --section-padding: 140px;
  }

  /**
   * REUSED STYLE
   */


  .container,
  .hero .container {
    max-width: 1600px;
  }

  :is(.hero) .container {
    max-width: 1280px;
  }

  .section-subtitle::before {
    height: 20px;
    margin-inline-end: 5px;
  }

  /**
   * HERO
   */

  .hero {
    padding-block: 280px;
  }

  .hero .section-text {
    padding-inline-end: 90px;
  }

  .hero-banner img {
    width: 75%;
    max-width: 1000px;
  }

  /**
   * ABOUT
   */

  .about::before {
    width: 55%;
  }

  .about-banner .w-100 {
    width: 50%;
  }

  /**
   * FOOTER
   */

  .footer-top .container {
    padding-inline-start: 20%;
  }
}

.no-result {
  flex-direction: column;
  gap: 10px;
  width: 1050px;
  h5 {
    width: 500px;
    text-align: center;
  }

  button {
    width: 250px;
    height: 40px;
  }
}

.spinner {
  align-items: center;
  display: flex;
  height: calc(100vh - 220px);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 1050px;
}