<form class="typeahead-form">
  <mat-form-field
    appearance="fill"
    class="typeahead-field"
  >
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      aria-label="State"
      [formControl]="stateCtrl"
      [matAutocomplete]="auto"
      (blur)="onInputBlur()"
      (focus)="showAllOptions()"
    />
    <mat-autocomplete
      (optionSelected)="onOptionSelected($event)"
      #auto="matAutocomplete"
    >
      <mat-option
        *ngFor="let state of filteredStates | async"
        [value]="state.value"
      >
        <div class="typeahead-option-content">
          <span class="typeahead-option-main">{{ state.value }}</span>
          <span
            *ngIf="state.meta"
            class="typeahead-option-meta"
          >{{ state.meta }}</span>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
