
.logo {
  position: absolute;
}

.login:hover {
  color: var(--figma-highlight-orange);
}

.nav-active {
    color: var(--figma-highlight-orange);  
}

.icon-active {
  mat-icon svg path {
    stroke: var(--figma-highlight-orange) !important;
  } 

  color: var(--figma-highlight-orange) !important;
}