<!-- 
    - #HEADER
  -->

<header class="header">
  <div class="container">
    <a href="#" class="logo">
      <img
        src="/images/navigation/logo.png"
        width="128"
        height="63"
        alt="autofix home"
      />
    </a>

    <nav class="navbar" data-navbar>
      <ul class="navbar-list">
        <li>
          <a href="#" class="navbar-link">Home</a>
        </li>

        <li>
          <a href="#" class="navbar-link">O nama</a>
        </li>

        <li>
          <a href="#" class="navbar-link">Kontakt</a>
        </li>

        <li>
          <a href="#" class="navbar-link">ASORTIMAN</a>
        </li>
      </ul>
    </nav>

    <a href="#" class="btn btn-primary">
      <span class="span">WEB SHOP</span>
    </a>

    <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
      <span class="nav-toggle-icon icon-1"></span>
      <span class="nav-toggle-icon icon-2"></span>
      <span class="nav-toggle-icon icon-3"></span>
    </button>
  </div>
</header>
