<div
  *ngIf="mobileSidebarOpen"
  class="overlay-mobile"
  data-overlay
  (click)="closeMobileSidebar()"
></div>
<nav class="header desktop-navigation-menu" data-header>
  <div class="container">
    <div class="overlay" data-overlay></div>

    <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
      <autom-icon
        name="menu-outline"
        [source]="iconEnum.ALIGN_JUSTIFY"
      ></autom-icon>
    </button>

    <nav class="navbar" data-navbar>
      <!-- Logo (levo) -->
      <a href="#" class="logo flex--02">
        <img
          src="/images/logo/logo.svg"
          width="190"
          height="50"
          alt="Automaterijal logo"
        />
      </a>

      <!-- Glavna navigacija (centar) -->
      <ul class="navbar-list flex--06">
        <li class="navbar-item">
          <a
            routerLink="/home"
            class="navbar-link"
            [ngClass]="currentUrl.includes('/home') ? 'nav-active' : null"
            >Home</a
          >
        </li>
        <li class="navbar-item">
          <a
            routerLink="/onama"
            class="navbar-link"
            [ngClass]="currentUrl.includes('/onama') ? 'nav-active' : null"
            >O nama</a
          >
        </li>
        <li class="navbar-item">
          <a
            routerLink="/kontakt"
            class="navbar-link"
            [ngClass]="currentUrl.includes('/kontakt') ? 'nav-active' : null"
            >Kontakt</a
          >
        </li>
        <li class="navbar-item">
          <a
            routerLink="/webshop"
            class="navbar-link"
            [ngClass]="currentUrl.includes('/webshop') ? 'nav-active' : null"
            >Webshop</a
          >
        </li>
        <li *ngIf="!loggedIn" class="navbar-item">
          <a
            href="/login"
            [ngClass]="currentUrl.includes('/login') ? 'nav-active' : null"
            class="navbar-link color--figma-error-600"
            >Login</a
          >
        </li>
      </ul>
      <!-- Profil + Korpa (desno) -->
      <ul class="nav-action-list flex--02">
        <ul *ngIf="loggedIn && isAdmin" class="nav-action-list">
          <li class="navbar-item profile-menu-wrapper">
            <button
              mat-button
              [matMenuTriggerFor]="adminMenu"
              #menuTrigger="matMenuTrigger"
              class="nav-action-btn nav-btn"
            >
              <autom-icon
                [color]="colorEnum.RICH_BLACK"
                [source]="iconEnum.STAR"
              ></autom-icon>
              <span>Admin</span>
            </button>

            <mat-menu
              #adminMenu="matMenu"
              class="custom-profile-menu"
              overlapTrigger="false"
            >
              <button mat-menu-item routerLink="/sales-reports">
                <div class="menu-item-align">
                  <autom-icon [source]="iconEnum.PEN_TOOL"></autom-icon>
                  <span>Izvestaji</span>
                </div>
              </button>

              <button mat-menu-item routerLink="/logs">
                <div class="menu-item-align">
                  <autom-icon [source]="iconEnum.LIFE_BUOY"></autom-icon>
                  <span>Logovi</span>
                </div>
              </button>
            </mat-menu>
          </li>
        </ul>
        <ul *ngIf="loggedIn" class="nav-action-list">
          <li class="navbar-item profile-menu-wrapper">
            <button
              mat-button
              [matMenuTriggerFor]="profileMenu"
              #menuTrigger="matMenuTrigger"
              class="nav-action-btn nav-btn"
            >
              <autom-icon
                [color]="colorEnum.RICH_BLACK"
                [source]="iconEnum.USER"
              ></autom-icon>
              <span>Profil</span>
            </button>

            <mat-menu
              #profileMenu="matMenu"
              class="custom-profile-menu"
              overlapTrigger="false"
            >
              <div class="menu-header">
                <strong>{{ account?.naziv }}</strong>
                <div class="email">
                  <span class="span">{{ account?.email }}</span>
                </div>

                <div class="menu-balance">
                  <span class="label">Stanje:</span>
                  <span
                    class="value"
                    [ngClass]="{ negative: account?.stanje! < 0 }"
                    >{{ account?.stanje! | rsdCurrency }}</span
                  >
                </div>

                <div class="menu-balance">
                  <span class="label">Van valute:</span>
                  <span
                    class="value"
                    [ngClass]="{ negative: account?.stanjeporoku! < 0 }"
                    >{{ account?.stanjeporoku! | rsdCurrency }}</span
                  >
                </div>
              </div>

              <mat-divider></mat-divider>
              <button mat-menu-item routerLink="/invoices">
                <div class="menu-item-align">
                  <autom-icon [source]="iconEnum.BOOK"></autom-icon>
                  <span>Porudzbenice</span>
                </div>
              </button>

              <button mat-menu-item (click)="logout()">
                <div class="menu-item-align">
                  <autom-icon [source]="iconEnum.LOG_OUT"></autom-icon>
                  <span>Izloguj se</span>
                </div>
              </button>
            </mat-menu>
          </li>
        </ul>

        <li>
          <a
            routerLink="/cart"
            class="nav-action-btn nav-btn"
            [ngClass]="currentUrl.includes('/cart') ? 'icon-active' : null"
          >
            <autom-icon
              routerLink="/cart"
              [badge]="cartSize"
              [color]="colorEnum.RICH_BLACK"
              [enableBadge]="true"
              [ngClass]="currentUrl.includes('/cart') ? 'icon-active' : null"
              [source]="iconEnum.SHOPPING_CART"
            ></autom-icon>
            Vasa korpa

            <span class="nav-action-text">Korpa</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</nav>

<div class="mobile-bottom-navigation">
  <button
    class="action-btn"
    data-mobile-menu-open-btn
    (click)="mobileSidebarOpen = !mobileSidebarOpen"
  >
    <autom-icon
      [color]="colorEnum.RICH_BLACK"
      [source]="iconEnum.ALIGN_JUSTIFY"
    ></autom-icon>
  </button>

  <a class="action-btn" href="/home">
    <autom-icon
      [color]="colorEnum.RICH_BLACK"
      [source]="iconEnum.HOME"
    ></autom-icon>
  </a>

  <button class="action-btn">
    <autom-icon
      [color]="colorEnum.RICH_BLACK"
      [source]="iconEnum.USER"
    ></autom-icon>
  </button>

  <button class="action-btn" routerLink="/cart">
    <autom-icon
      [ngClass]="currentUrl.includes('/cart') ? 'icon-active' : null"
      [badge]="cartSize"
      [color]="colorEnum.RICH_BLACK"
      [enableBadge]="true"
      [source]="iconEnum.SHOPPING_CART"
    ></autom-icon>

    <span class="count">0</span>
  </button>

  <button class="action-btn" data-mobile-menu-open-btn>
    <autom-icon
      [color]="colorEnum.RICH_BLACK"
      [source]="iconEnum.ALIGN_JUSTIFY"
    ></autom-icon>
  </button>
</div>

<nav
  *ngIf="mobileSidebarOpen"
  class="mobile-navigation-menu has-scrollbar-mobile"
  [ngClass]="{ 'slide-out': mobileSidebarClosing }"
>
  <div class="menu-top">
    <h2 class="menu-title">Meni</h2>
    <button class="menu-close-btn" (click)="closeMobileSidebar()">
      <autom-icon
        [color]="colorEnum.RICH_BLACK"
        [source]="iconEnum.X"
      ></autom-icon>
    </button>
  </div>

  <!-- Profil sekcija -->
  <div *ngIf="loggedIn" class="menu-section-profile">
    <span class="menu-section-label">Profil</span>

    <div class="menu-header">
      <strong>{{ account?.naziv }}</strong>
      <div class="email">{{ account?.email }}</div>
      <div class="menu-balance">
        <span class="label">Stanje:</span>
        <span class="value" [ngClass]="{ negative: account?.stanje! < 0 }">
          {{ account?.stanje! | rsdCurrency }}
        </span>
      </div>
      <div class="menu-balance">
        <span class="label">Van valute:</span>
        <span
          class="value"
          [ngClass]="{ negative: account?.stanjeporoku! < 0 }"
        >
          {{ account?.stanjeporoku! | rsdCurrency }}
        </span>
      </div>
    </div>
  </div>

  <ul class="mobile-menu-category-list">
    <!-- Standard links -->
    <li class="menu-category">
      <a routerLink="/home" class="menu-title" (click)="closeMobileSidebar()">
        Home
      </a>
    </li>
    <li class="menu-category">
      <a routerLink="/onama" class="menu-title" (click)="closeMobileSidebar()">
        O nama
      </a>
    </li>
    <li class="menu-category">
      <a
        routerLink="/kontakt"
        class="menu-title"
        (click)="closeMobileSidebar()"
      >
        Kontakt
      </a>
    </li>
    <li class="menu-category">
      <a
        routerLink="/webshop"
        class="menu-title"
        (click)="closeMobileSidebar()"
      >
        Webshop
      </a>
    </li>
    <li class="menu-category" *ngIf="!loggedIn">
      <a
        routerLink="/login"
        class="menu-title color--figma-error-600"
        (click)="closeMobileSidebar()"
        >Login</a
      >
    </li>
    <li class="menu-category" *ngIf="!loggedIn">
      <a
        routerLink="/login"
        class="menu-title color--figma-error-600"
        (click)="closeMobileSidebar()"
        >Login</a
      >
    </li>
    <li class="menu-category" *ngIf="loggedIn">
      <a
        routerLink="/invoices"
        class="menu-title"
        (click)="closeMobileSidebar()"
      >
        Porudžbenice
      </a>
    </li>
    <li class="menu-category" *ngIf="loggedIn">
      <a class="menu-title" routerLink="/cart"> Korpa </a>
    </li>
  </ul>

  <!-- Admin sekcija -->
  <div *ngIf="loggedIn && isAdmin" class="menu-section">
    <span class="menu-section-label">Admin</span>
    <a
      routerLink="/sales-reports"
      class="menu-title"
      (click)="closeMobileSidebar()"
    >
      <autom-icon [source]="iconEnum.PEN_TOOL"></autom-icon>
      Izveštaji
    </a>
    <a routerLink="/logs" class="menu-title" (click)="closeMobileSidebar()">
      <autom-icon [source]="iconEnum.LIFE_BUOY"></autom-icon>
      Logovi
    </a>
  </div>

  <!-- Korpa -->
  <div class="menu-section flex--1">
    <span class="menu-section-label">Logout</span>

    <a
      class="menu-title menu-title--danger"
      (click)="logout(); closeMobileSidebar()"
    >
      <autom-icon [source]="iconEnum.LOG_OUT"></autom-icon>
      Izloguj se
    </a>
  </div>

  <!-- Social icons -->
  <div class="menu-bottom">
    <ul class="menu-social-container">
      <li>
        <a href="#" class="social-link">
          <autom-icon
            [color]="colorEnum.RICH_BLACK_WHITE_HOVER"
            [source]="iconEnum.FACEBOOK"
          ></autom-icon>
        </a>
      </li>
      <li>
        <a href="#" class="social-link">
          <autom-icon
            [color]="colorEnum.RICH_BLACK_WHITE_HOVER"
            [source]="iconEnum.INSTAGRAM"
          ></autom-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>
