<section class="header-margin--top login login-container">
  <div class="header-margin--bottom login-left">
    <div *ngIf="showForgotPassword" @fadeAnimation>
      <h3>Restartujte vasu sifru</h3>
      <form class="login-form__container" [formGroup]="forgotPasswordForm">
        <autom-input-fields
          [clearBtn]="true"
          [formControlName]="'id'"
          [id]="'forgotPasswordForm'"
          [label]="'Id'"
          [placeholder]="'Email ili korisnicko ime'"
          [required]="true"
          [size]="sizeEnum.FULL"
          [type]="inputTypeEnums.TEXT"
          [validators]="[{ required: true }]"
          (emitSelected)="setSelectionValue('forgotPasswordForm', $event)"
          (keydown.enter)="login()"
          ngDefaultControl
        ></autom-input-fields>
        <a class="forgot-password" (click)="toggleLogin()">Setio se sifre?</a>
        <autom-button
          class="login-form-button"
          [disabled]="!forgotPasswordForm.valid || disableLoginBtn"
          [iconPrefix]="loginInProgress"
          [iconSource]="buttonIcon"
          [label]="'Uloguj se'"
          [theme]="buttonTheme.DEFAULT"
          [type]="buttonTypes.PRIMARY"
          (clickEvent)="login()"
          ngDefaultControl
        ></autom-button>
      </form>
    </div>
    <div *ngIf="showLogin" @fadeAnimation>
      <h3>Dobrodosli u prodavnicu Automaterijala</h3>

      <div *ngIf="loginError" class="login-error-banner" @fadeAnimation>
        <span>Pogrešno korisničko ime ili lozinka.</span>
      </div>
      <form class="login-form__container" [formGroup]="loginForm">
        <autom-input-fields
          [clearBtn]="true"
          [formControlName]="'username'"
          [id]="'username'"
          [label]="'Korisnicko ime'"
          [required]="true"
          [size]="sizeEnum.FULL"
          [type]="inputTypeEnums.TEXT"
          [validators]="[{ required: true }]"
          (emitSelected)="setSelectionValue('username', $event)"
          (keydown.enter)="login()"
          ngDefaultControl
        ></autom-input-fields>
        <autom-input-fields
          [clearBtn]="true"
          [formControlName]="'password'"
          [id]="'password'"
          [label]="'Sifra'"
          [required]="true"
          [size]="sizeEnum.FULL"
          [type]="inputTypeEnums.PASSWORD"
          [validators]="[{ required: true }]"
          (emitSelected)="setSelectionValue('password', $event)"
          (keydown.enter)="login()"
          ngDefaultControl
        ></autom-input-fields>
        <!-- <a class="forgot-password"w -->
        <autom-button
          class="login-form-button"
          [disabled]="!loginForm.valid || disableLoginBtn"
          [iconPrefix]="loginInProgress"
          [iconSource]="buttonIcon"
          [label]="'Uloguj se'"
          [theme]="buttonTheme.DEFAULT"
          [type]="buttonTypes.PRIMARY"
          (clickEvent)="login()"
          ngDefaultControl
        ></autom-button>
      </form>
    </div>

    <div *ngIf="showAccountCreation" @fadeAnimation>
      <h3>Napravite svoj nalog</h3>
      <form class="login-form__container" [formGroup]="accountCreationForm">
        <autom-input-fields
          [clearBtn]="true"
          [formControlName]="'nazivFirme'"
          [id]="'nazivFirme'"
          [label]="'Naziv firme'"
          [required]="true"
          [size]="sizeEnum.FULL"
          [type]="inputTypeEnums.TEXT"
          [validators]="[{ required: true }]"
          (emitSelected)="
            setSelectionValueAccountCreation('nazivFirme', $event)
          "
          ngDefaultControl
        ></autom-input-fields>
        <autom-input-fields
          [clearBtn]="true"
          [formControlName]="'pib'"
          [id]="'pib'"
          [label]="'Pib'"
          [required]="true"
          [size]="sizeEnum.FULL"
          [type]="inputTypeEnums.NUMBER"
          [validators]="[{ required: true }]"
          (emitSelected)="setSelectionValueAccountCreation('pib', $event)"
          ngDefaultControl
        ></autom-input-fields>
        <autom-input-fields
          [clearBtn]="true"
          [formControlName]="'grad'"
          [id]="'grad'"
          [label]="'Grad'"
          [required]="true"
          [size]="sizeEnum.FULL"
          [type]="inputTypeEnums.TEXT"
          [validators]="[{ required: true }]"
          (emitSelected)="setSelectionValueAccountCreation('grad', $event)"
          (keydown.enter)="login()"
          ngDefaultControl
        ></autom-input-fields>
        <autom-input-fields
          [clearBtn]="true"
          [formControlName]="'adresa'"
          [id]="'adresa'"
          [label]="'Adresa'"
          [required]="true"
          [size]="sizeEnum.FULL"
          [type]="inputTypeEnums.TEXT"
          [validators]="[{ required: true }]"
          (emitSelected)="setSelectionValueAccountCreation('adresa', $event)"
          ngDefaultControl
        ></autom-input-fields>
        <autom-input-fields
          [clearBtn]="true"
          [formControlName]="'email'"
          [id]="'email'"
          [label]="'Email'"
          [required]="true"
          [size]="sizeEnum.FULL"
          [type]="inputTypeEnums.TEXT"
          [validators]="[
            { required: true },
            {
              name: 'pattern',
              value: emailAddressPattern
            }
          ]"
          (emitSelected)="setSelectionValueAccountCreation('email', $event)"
          ngDefaultControl
        ></autom-input-fields>
        <autom-input-fields
          [clearBtn]="true"
          [formControlName]="'kontaktTelefon'"
          [id]="'kontaktTelefon'"
          [label]="'Kontakt telefon'"
          [required]="true"
          [size]="sizeEnum.FULL"
          [type]="inputTypeEnums.TEXT"
          [validators]="[{ required: true }]"
          (emitSelected)="
            setSelectionValueAccountCreation('kontaktTelefon', $event)
          "
          (keydown.enter)="login()"
          ngDefaultControl
        ></autom-input-fields>
        <autom-button
          class="login-form-button"
          [disabled]="!accountCreationForm.valid || createAccountInProgress"
          [iconPrefix]="loginInProgress"
          [iconSource]="buttonIcon"
          [label]="'Kreiraj'"
          [theme]="buttonTheme.DEFAULT"
          [type]="buttonTypes.PRIMARY"
          (clickEvent)="kreirajNalog()"
          ngDefaultControl
        ></autom-button>
      </form>
    </div>
  </div>
  <div class="header-margin--bottom login-right">
    <div
      class="right-side"
      *ngIf="showLogin || showForgotPassword"
      @fadeAnimation
    >
      <h3>Nemas nalog?</h3>
      <p>Napravi svoj nalog i uzivaj u dodatnim pogodnostima.</p>
      <button class="sign-up-btn" (click)="toggleAccountCreation()">
        Kreiraj
      </button>
    </div>
    <div class="right-side" *ngIf="showAccountCreation" @fadeAnimation>
      <h3>Imas nalog?</h3>
      <p>
        Uloguj se sada da pristupiš svom nalogu i nastaviš s kupovinom ili
        pregledom svojih podataka.
      </p>
      <button class="sign-up-btn" (click)="toggleLogin()">Login</button>
    </div>
  </div>
</section>

<first-login-popup
  *ngIf="showFirstLoginPopup"
  [account]="user!"
  (closePopupModal)="changedPasswordPopupHandler()"
></first-login-popup>
