<section class="header-margin--top login login-container">
  <div class="header-margin--bottom login-left">
    <h3>Dobrodosli u prodavnicu Automaterijala</h3>
    <form class="login-form__container" [formGroup]="loginForm">
      <autom-input-fields
        [clearBtn]="true"
        [formControlName]="'username'"
        [id]="'username'"
        [label]="'Korisnicko ime'"
        [required]="true"
        [size]="sizeEnum.FULL"
        [type]="inputTypeEnums.TEXT"
        [validators]="[{ required: true }]"
        (emitSelected)="setSelectionValue('username', $event)"
        (keydown.enter)="login()"
        ngDefaultControl
      ></autom-input-fields>
      <autom-input-fields
        [clearBtn]="true"
        [formControlName]="'password'"
        [id]="'password'"
        [label]="'Sifra'"
        [required]="true"
        [size]="sizeEnum.FULL"
        [type]="inputTypeEnums.PASSWORD"
        [validators]="[{ required: true }]"
        (emitSelected)="setSelectionValue('password', $event)"
        (keydown.enter)="login()"
        ngDefaultControl
      ></autom-input-fields>
      <a href="#" class="forgot-password">Zaboravio sifru?</a>
      <autom-button
        class="login-form-button"
        [disabled]="!loginForm.valid || disableLoginBtn"
        [iconPrefix]="loginInProgress"
        [iconSource]="buttonIcon"
        [label]="'Uloguj se'"
        [theme]="buttonTheme.DEFAULT"
        [type]="buttonTypes.PRIMARY"
        (clickEvent)="login()"
        ngDefaultControl
      ></autom-button>
    </form>
  </div>
  <div class="header-margin--bottom login-right">
    <h3>Nemas nalog?</h3>
    <p>Napravi svoj nalog i uzivaj u dodatnim pogodnostima.</p>
    <button class="sign-up-btn">Kreiraj</button>
  </div>
</section>
