.contact-section {
  text-align: center;
  padding: 20px;

  .confirm-btn button {
    margin-top: 20px;
    width: 150px;
  }

  h2 {
    margin-top: 35px !important;
  }

  .border-info {
    border-right: 1px solid var(--figma-grey-100);
  }
}
.contact-info {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;

  .mat-icon {
    width: 35px;
    height: 35px;
  }
}
.info-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 200px;
  justify-content: space-evenly;

  a:hover {
    color: var(--figma-primary-800);
  }

  p {
    margin: 0;
  }
}
.map-container {
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
}
.contact-form {
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 20px;
  display: flex;
}
.form-group {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.contact-form h2 {
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .contact-info {
    flex-direction: column;
    gap: 20px;
  }
  .form-group {
    flex-direction: column;
  }
}
