/* Basic CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 100%; /* Resets font-size to 16px */
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button, 
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

textarea {
  resize: vertical; /* Allows vertical resize only */
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}

hr {
  border: 0;
  border-top: 1px solid currentColor;
  opacity: 0.25;
}

/* Removes focus outline for mouse users but keeps it for keyboard users */
:focus:not(:focus-visible) {
  outline: none;
}

:focus-visible {
  outline: 2px solid blue;
}